[
'<div>',
    '<div data-dojo-type="dijit.Dialog" title="{%= $.importProgressCaption %}" dojoAttachPoint="_dialog" dojoAttachEvent="onCancel:_close" style="width: 450px">',
        '<div data-dojo-type="dijit.form.Form" id="{%= $.id %}_frmImportProgress">',
            '<label dojoAttachPoint="lblProcessingLabelContainer">{%= $.lblPrimaryProgress %}</label>',
            '<div dojoAttachPoint="importTestProgressBarContainer"></div>',
            '<table border="0" cellpadding="1" cellspacing="0" class="formtable">',
                '<tr>',
                    '<td>',
                        '<label>{%= $.lblTotalRecordsProcessed %}</label>',
                    '</td>',
                    '<td>',
                        '<span class="textcontrol">',
                            '<input dojoType="dijit.form.TextBox" id="{%= $.id %}_processedCount" dojoAttachPoint="processedCount" readonly="readonly" />',
                        '</span>',
                    '</td>',
                '</tr>',
                '<tr>',
                    '<td>',
                        '<label>{%= $.lblTotalDuplicates %}</label>',
                    '</td>',
                    '<td>',
                        '<span class="textcontrol">',
                            '<input dojoType="dijit.form.TextBox" id="{%= $.id %}_duplicatesCount" dojoAttachPoint="duplicatesCount" readonly="readonly" />',
                        '</span>',
                    '</td>',
                '</tr>',
                '<tr>',
                    '<td>',
                        '<label>{%= $.lblProjectedDuplicateRate %}</label>',
                    '</td>',
                    '<td>',
                        '<span class="textcontrol">',
                            '<div dojoType="Sage.UI.Controls.Numeric" id="{%= $.id %}_duplicateRate" constraints="{ places: 0, type: \'percent\' }" dojoAttachPoint="duplicateRate" readonly="readonly" style="width: auto"></div>',
                        '</span>',
                    '</td>',
                '</tr>',
                '<tr>',
                    '<td>',
                        '<label>{%= $.lblTotalErrors %}</label>',
                    '</td>',
                    '<td>',
                        '<span class="textcontrol">',
                            '<input dojoType="dijit.form.TextBox" id="{%= $.id %}_errorsCount" dojoAttachPoint="errorsCount" readonly="readonly" />',
                        '</span>',
                    '</td>',
                '</tr>',
            '</table>',
            '<div dojoAttachPoint="importHistoryLinkContainer" class="display-none">',
                '<label>{%= $.lblImportHistoryLinkText %}</label>',
                '<br/>',
                '<label>{%= $.lblImportLinkNumber %}</label>',
                '<a dojoAttachPoint="importHistoryLink"></a>',
            '</div>',
            '<div class="button-bar" align="right">',
                '<div data-dojo-type="dijit.form.Button" id="{%= $.id%}_btn_Cancel" dojoAttachPoint="btn_Cancel" dojoAttachEvent="onClick:_cancel">{%= $.btnCancelText %}</div>',
                '<div data-dojo-type="dijit.form.Button" id="{%= $.id%}_btn_Close" dojoAttachPoint="btn_Close" dojoAttachEvent="onClick:_close">{%= $.btnCloseText %}</div>',
            '</div>',
        '</div>',
    '</div>',
'</div>'
]