[
'<table style="width:100%">',
    '<thead>',
        '<tr>',
            '<th>',
                '<div class="SummaryTitle">',
                    '<a href="Lead.aspx?entityid={%= $.templateData.id %}">{%= Sage.Utility.htmlEncode($.templateData.name) %}</a>',
                '</div>',
            '</th>',
        '</tr>',
        '<tr>',
            '<td>',
                '<span>{%= $.templateData.address_address1 %}</span>',
            '</td>',
        '</tr>',
        '<tr>',
            '<td>',
                '<span>{%= $.templateData.address_citystatezip %}</span>',
            '</td>',
        '</tr>',
    '</thead>',
    '<tbody>',
        '<tr>',
            '<td class="DataColumn">',
                '<table>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svCompany_Caption || "Company:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.accountname %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svTitle_Caption || "Title:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.title %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svWorkPhone_Caption || "Work Phone:" %}</td>',
                        '<td class="DataItem">{%= Sage.Format.phone($.templateData.workphone) %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svHomePhone_Caption || "Home Phone:" %}</td>',
                        '<td class="DataItem">{%= Sage.Format.phone($.templateData.homephone) %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svMobilePhone_Caption || "Mobile Phone:" %}</td>',
                        '<td class="DataItem">{%= Sage.Format.phone($.templateData.mobilephone) %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svEmail_Caption || "Email:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.email %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svWebAddress_Caption || "Web:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.webaddress %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svType_Caption || "Type:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.type %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svAccMgr_Caption || "Acct. Mgr.:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.accountmanager_userinfo_firstname %} {%= $.templateData.accountmanager_userinfo_lastname %}</td>',
                    '</tr>',
                '</table>',
            '</td>',
        '</tr>',
    '</tbody>',
'</table>',
'<br/>',
'<div style="padding-right:20px; text-align:right">',
    '<asp:Panel runat="server" ID="pnlCancel" CssClass="controlslist qfActionContainer">',
        '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_Close" onClick="javascript:contactSearchForDuplicates._close();">{%= $.closeText %}</div>',
    '</asp:Panel>',
'</div>'
]