<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="intellisyncConfiguration" type="Sage.SalesLogix.Intellisync.Configuration.IntellisyncConfiguration, Sage.SalesLogix.Intellisync" />
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <intellisyncConfiguration maxMonthIteration="13" maxDayIteration="31" maxWeekIteration="53" maxYearIteration="5" invalidStringList="" invalidReplaceCharacter="!" syncHistory="true" prevHistoryDays="-1" />
  <system.diagnostics>
    <switches />
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="SLXIntellisyncMembershipProvider">
      <providers>
        <clear />
        <add name="SLXIntellisyncMembershipProvider" type="Sage.SalesLogix.Intellisync.SyncModule.SLXIntellisyncMembershipProvider" applicationName="SalesLogix" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SLXRoleProvider" cacheRolesInCookie="true" cookieName=".SLXROLES" cookiePath="/" cookieRequireSSL="false">
      <providers>
        <clear />
        <add name="SLXRoleProvider" type="Sage.SalesLogix.Web.SLXRoleProvider" applicationName="SalesLogix" />
      </providers>
    </roleManager>

    <httpHandlers />
    <httpModules>
      <clear />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
      <add name="SessionScopeModule" type="Sage.Platform.Framework.SessionScopeWebModule" />
      <add name="SyncHttpModule" type="Sage.SalesLogix.Intellisync.SyncModule.SyncHttpModule" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
    </httpModules>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="false" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers />
    <modules>
      <add name="SessionScopeModule" preCondition="integratedMode" type="Sage.Platform.Framework.SessionScopeWebModule"/>
      <add name="SyncHttpModule" preCondition="integratedMode" type="Sage.SalesLogix.Intellisync.SyncModule.SyncHttpModule" />
    </modules>
    <defaultDocument>
      <files>
        <!-- For IIS7 machines its possible for the key to already exist-->
        <remove value="default.aspx" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>
    <add key="UseWindowsPrincipal" value="false" />
    <add key="RequiresPassword" value="No" />
  </appSettings>
</configuration>