<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="scheduling" type="Sage.Scheduling.Configuration.SchedulingSection, Sage.Scheduling" />
    <sectionGroup name="sage.platform">
      <section name="Sage.Platform.Caches.Memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="sage.platform.configuration.default-configuration-source" value="FileConfigurationSource" />
    <add key="nhibernate-logger" value="Sage.Platform.Log4NetLoggerFactory, Sage.Platform" />
    <add key="sage.platform.application.caching.cacheProvider" value="Sage.Platform.Caches.Memcached.CacheProvider, Sage.Platform.Caches.Memcached" />
  </appSettings>
  <scheduling>
    <jobStore type="Sage.SalesLogix.Scheduling.JobStore, Sage.SalesLogix" />
    <plugins>
      <plugin type="Sage.Platform.Scheduling.ApplicationContextPlugin, Sage.Platform" />
    </plugins>
    <listeners>
      <listener type="Sage.SalesLogix.Scheduling.UserAuthenticationListener, Sage.SalesLogix" />
      <listener type="Sage.SalesLogix.Scheduling.VirtualFileSystemListener, Sage.SalesLogix" />
      <listener type="Sage.Platform.Scheduling.SessionScopeListener, Sage.Platform" />
    </listeners>
    <jobs>
      <job type="Sage.Platform.DynamicMethod.DynamicMethodJob, Sage.Platform" />
      <job type="Sage.SalesLogix.Activity.RolloverActivitiesJob, Sage.SalesLogix.Activity">
        <triggers>
          <trigger id="RolloverActivitiesEveryHourIndefinitely" repeatInterval="1:00:00" repeatCount="-1" />
        </triggers>
	  </job>
      <job type="Sage.SalesLogix.Contract.UpdateRemainingDaysJob, Sage.SalesLogix.BusinessRules">
        <triggers>
          <trigger id="UpdateRemainingDaysDailyIndefinitely" repeatInterval="1.00:00:00" repeatCount="-1" />
        </triggers>
	  </job>
      <job type="Sage.SalesLogix.BusinessRules.Jobs.UpdateEntityJob, Sage.SalesLogix.BusinessRules" />
      <job type="Sage.SalesLogix.BusinessRules.Jobs.DeleteEntityJob, Sage.SalesLogix.BusinessRules" />
    </jobs>
  </scheduling>
  <sage.platform>
    <Sage.Platform.Caches.Memcached protocol="Binary">
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool connectionTimeout="00:00:02" deadTimeout="00:00:10" />
	  <performanceMonitor factory="Enyim.Caching.Memcached.DefaultPerformanceMonitorFactory, Enyim.Caching" name="SlxJobService" />
    </Sage.Platform.Caches.Memcached>
  </sage.platform>
</configuration>