<div class="textcontrol lookup">
    <span id="${id}" class="lookup">
        <input id="${id}_LookupText" class="text-with-icons" required="${required}" type="text" dojoAttachPoint="textbox,focusNode" />
        <a href="#">
            <img id="${id}_LookupBtn" src="images/icons/Find_16x16.png" dojoAttachPoint="lookupButton" alt="${buttonToolTip}" title="${buttonToolTip}" />
        </a>
        
        <img id="${id}_btnClearResult" src="images/icons/Delete_16x16.png" dojoAttachPoint="clearButton" class="display-none" alt="${closeButtonToolTip}" title="${closeButtonToolTip}"/>
    </span>
</div>