/*<meta />*/

h1
{
	font-family: Verdana, Tahoma, Arial;
	font-variant: normal;
	font-weight: bold;
	text-transform: none;
	border-bottom-style: Inset;
	border-bottom-width: 2px;
	text-decoration: none;
	color: #000000;
	left: 10px;
	margin-left: 0px;
	background-repeat: no-repeat;
	display: block;
	background-position: left;
	border-bottom: inset 1px #a4bf7d;
	padding-top: 12px;
	padding-left: 45px;
	margin-bottom: -1.1em;
	margin: 0;
	padding-bottom: 5px;
	font-size: large;
	background-image: url('../../image/OriginalOrganic.bmp');
}

p
{
	color: #000000;
	font-size: inherit;
	font-family: inherit;
	margin-top: 6pt;
	margin-bottom: 0;
}

li
{
	color: #000000;
	font-size: inherit;
	font-family: inherit;
}

h2
{
	font-family: inherit;
	border-bottom: groove #259ac0;
	padding-bottom: 4.0pt;
	font-size: inherit;
	text-transform: none;
	border-bottom-style: Inset;
	border-bottom-width: 2px;
	border-bottom-color: #EEEEEE;
	color: inherit;
}

li.BulletFormat
{
	font-family: inherit;
	list-style-type: disc;
	color: inherit;
	margin-left: inherit;
	font-size: inherit;
	margin-top: inherit;
	margin-bottom: iherit;
	list-style-position: outside;
}

li.Bullets
{
	font-family: inherit;
	list-style-type: disc;
	color: #000000;
	margin-left: 0.0pt;
	font-size: inherit;
	margin-top: 3pt;
	margin-bottom: 3pt;
	list-style-position: outside;
}

li.BulletCheckbox
{
	font-family: inherit;
	list-style-type: square;
	color: #000000;
	margin-left: 0.0pt;
	font-size: inherit;
	margin-top: 3pt;
	margin-bottom: 3pt;
	list-style-position: outside;
	list-style-image: url('../../image/checkbox.bmp');
}

li.BulletCheckbox2
{
	font-family: inherit;
	font-weight: normal;
	list-style-type: square;
	list-style-position: outside;
	margin-left: 16pt;
	font-size: inherit;
	margin-top: 3pt;
	margin-bottom: 3pt;
	list-style-image: url('../../image/checkbox.bmp');
}

.Tabletop
{
	font-family: inherit;
	font-style: normal;
	margin-left: 3.0pt;
	margin-right: 3.0pt;
	margin-top: 4.0pt;
	margin-bottom: 4.0pt;
	font-size: inherit;
	font-weight: bold;
	font-variant: normal;
	text-transform: capitalize;
	text-decoration: none;
	color: #000000;
	background-color: #a4bf7d;
}

.Table
{
	font-family: inherit;
	margin-left: 3.0pt;
	margin-right: 3.0pt;
	margin-top: 4.0pt;
	margin-bottom: 4.0pt;
	font-size: inherit;
	padding: 0pt;
	padding-bottom: 2pt;
	overflow: visible;
	white-space: normal;
	vertical-align: top;
	color: #000000;
	border-bottom-color: #000000;
	border-width: 1px;
}

.Table2
{
	font-family: inherit;
	margin-right: 3.0pt;
	margin-top: 4.0pt;
	margin-bottom: 4.0pt;
	font-size: inherit;
	color: #000000;
	padding: 0pt;
	overflow: visible;
	white-space: normal;
	vertical-align: top;
	background-color: #ffffff;
	border-bottom-width: 6px;
	padding-bottom: 2pt;
}

.TableBold
{
	font-family: inherit;
	margin-right: inherit;
	margin-top: inherit;
	margin-bottom: inherit;
	font-size: inherit;
	color: inherit;
	padding: inherit;
	overflow: visible;
	white-space: normal;
	vertical-align: inherit;
	background-color: inherit;
	border-bottom-width: inherit;
	padding-bottom: inherit;
	font-style: inherit;
	font: inherit;
	font-weight: bold;
}

p.subheading
{
	font-family: inherit;
	font-weight: bold;
	color: #000000;
	font-size: inherit;
	text-transform: uppercase;
	margin-top: 16px;
	margin-bottom: 3pt;
}

body
{
	list-style-image: none;
	font-size: small;
	font-family: Verdana, Tahoma, Arial;
}

p.RelatedTopics
{
	font-family: inherit;
	font-weight: bold;
	text-align: left;
	color: #000000;
	font-size: inherit;
	font-variant: normal;
	text-transform: capitalize;
	margin-top: 15pt;
}

p.Infinitive
{
	font-family: inherit;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	margin-bottom: 0pt;
	font-size: inherit;
	font-variant: normal;
	text-decoration: none;
	margin-top: 10pt;
}

p.Tip-Note-Heading
{
	font-family: inherit;
	font-weight: bold;
	font-size: inherit;
	background-image: none;
	text-transform: uppercase;
	color: #000000;
	margin-left: auto;
}

p.Topic-Text-Indent
{
	font-family: inherit;
	margin-left: 30.0pt;
	font-size: inherit;
	margin-bottom: 3pt;
	margin-top: 0pt;
}

li.Topic-Text-Numbered
{
	font-family: inherit;
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 0.0pt;
	margin-bottom: 0.0pt;
	margin-top: 6pt;
	font-size: inherit;
}

li.Topic-Text-Lettered
{
	font-family: inherit;
	text-align: left;
	list-style-type: lower-alpha;
	margin-top: 6pt;
	font-size: inherit;
	margin-bottom: 0pt;
	padding-right: 0pt;
	margin-left: 16pt;
	list-style-position: outside;
}

li.Topic-Text-Bulleted-2
{
	font-family: inherit;
	font-weight: normal;
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 16pt;
	font-size: inherit;
	margin-top: 3pt;
	margin-bottom: 3pt;
}

p.Tip-Note-Text
{
	font-family: inherit;
	background-image: none;
	margin-top: 6.0pt;
	margin-bottom: 6.0pt;
	font-size: inherit;
}

h3
{
	font-family: inherit;
	border-bottom: groove #259ac0 1.0pt;
	padding-bottom: 4.0pt;
	font-size: inherit;
	text-transform: none;
	border-bottom-style: Inset;
	border-bottom-width: 2px;
	border-bottom-color: #ccffff;
	text-decoration: none;
	color: inherit;
}

li.mc-H3
{
	font-family: inherit;
	font-size: inherit;
	text-transform: none;
	text-decoration: none;
	color: inherit;
}

p.Topic-Text-Indent2
{
	font-family: inherit;
	font-size: inherit;
	margin-left: 46pt;
	margin-top: 0pt;
	margin-bottom: 3pt;
}

a.expandspot
{
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #0000ff;
}

span.Emphasize-expanded
{
	color: #000000;
	font-style: normal;
	font-family: inherit;
	font-size: inherit;
	mc-disabled: false;
}

a.glossterm
{
	font-family: inherit;
	font-size: inherit;
	font-style: italic;
	font-weight: normal;
	text-decoration: none;
	color: #0000ff;
}

span.glosstext
{
	font-style: normal;
	font-family: inherit;
	font-size: inherit;
	color: #000000;
	mc-disabled: false;
}

span.Emphasize
{
	color: #008080;
	font-style: italic;
	font-family: inherit;
	font-size: inherit;
	mc-disabled: false;
}

span.Definition
{
	color: #000000;
	font-size: inherit;
	font-style: normal;
	font-family: inherit;
	mc-disabled: false;
}

span.expandtext
{
	font-weight: normal;
	font-style: normal;
	font-family: inherit;
	font-size: inherit;
	color: #000000;
	text-decoration: none;
}

a:link
{
	font-family: inherit;
	font-weight: normal;
	font-size: inherit;
	color: #0000ff;
	text-decoration: underline;
	padding: 0px;
}

a:visited
{
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: inherit;
	color: #9400d3;
	text-decoration: underline;
}

a:hover
{
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
	font-size: inherit;
	text-decoration: none;
	color: #0000ff;
}

a:active
{
	font-weight: normal;
	font-size: inherit;
	text-decoration: none;
	color: #0000ff;
	font-family: inherit;
}

a.dropspot:visited
{
	cursor: Hand;
	x-text-box: blink;
	font-variant: normal;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	color: #008080;
	text-decoration: none;
}

a.dropspot:active
{
	cursor: Hand;
	x-text-box: blink;
	font-variant: normal;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	color: #008080;
	text-decoration: none;
}

a.dropspot:hover
{
	cursor: Hand;
	x-text-box: blink;
	font-variant: normal;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	color: #008080;
	text-decoration: none;
}

a.dropspot:link
{
	cursor: Hand;
	x-text-box: blink;
	font-variant: normal;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	color: #008080;
	text-decoration: none;
}

span.SLXBold
{
	font-weight: bold;
	font-style: normal;
	font-family: inherit;
	font-size: inherit;
}

span.toggler
{
	color: #0000ff;
}

MadCap|expandingHead.expandspot
{
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	color: #008080;
	text-decoration: none;
}

MadCap|dropDownHotspot.dropspot
{
	cursor: Hand;
	x-text-box: blink;
	font-variant: normal;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	font-style: normal;
	color: #008080;
	text-decoration: none;
}

MadCap|expandingBody.expandtext
{
	font-weight: normal;
	font-style: normal;
	font-family: inherit;
	font-size: inherit;
	color: #000000;
	text-decoration: none;
}

MadCap|glossaryTerm.glossterm
{
	font-size: inherit;
	font-style: italic;
	font-weight: normal;
	color: #008080;
	text-decoration: none;
	mc-disabled: false;
}

MadCap|expandingBody.glossterm
{
	font-style: normal;
	font-family: inherit;
	font-size: inherit;
	color: #000000;
}

MadCap|dropDownHotspot
{
	font-color: #008b8b;
	font-size: inherit;
	mc-open-image: none;
	mc-closed-image: none;
	color: #0000ff;
}

MadCap|dropDownHead
{
	mc-closed-image: none;
	mc-open-image: none;
	margin-top: 3pt;
	color: #0000ff;
}

MadCap|toggler
{
	text-decoration: none;
	margin-top: 3pt;
	mc-image-position: right;
	color: #0000ff;
	mc-closed-image: url('../../image/DropDownClosed.gif');
	mc-open-image: url('../../image/DropDownOpen.gif');
}

MadCap|expanding
{
	color: #0000ff;
	mc-closed-image: url('../../image/ExpandClosed.gif');
	mc-open-image: url('../../image/ExpandOpen.gif');
}

MadCap|expandingBody
{
	color: #000000;
}

MadCap|expandingHead
{
	color: #0000ff;
}

MadCap|dropDown
{
	mc-image-position: right;
	color: #0000ff;
	mc-closed-image: url('../../image/DropDownClosed.gif');
	mc-open-image: url('../../image/DropDownOpen.gif');
}

abbr
{
	mc-disabled: true;
}

acronym
{
	mc-disabled: true;
}

address
{
	mc-disabled: true;
}

b
{
	mc-disabled: true;
}

big
{
	mc-disabled: true;
}

button
{
	mc-disabled: true;
}

caption
{
	mc-disabled: true;
}

center
{
	mc-disabled: true;
}

cite
{
	mc-disabled: true;
}

col
{
	mc-disabled: false;
}

colgroup
{
	mc-disabled: false;
}

del
{
	mc-disabled: false;
}

dir
{
	mc-disabled: true;
}

em
{
	mc-disabled: false;
}

fieldset
{
	mc-disabled: true;
}

form
{
	mc-disabled: true;
}

frame
{
	mc-disabled: false;
}

frameset
{
	mc-disabled: false;
}

img
{
	mc-disabled: false;
}

input
{
	mc-disabled: true;
}

ins
{
	mc-disabled: true;
}

kbd
{
	mc-disabled: true;
}

MadCap|annotation
{
	mc-disabled: false;
}

MadCap|bodyProxy
{
	mc-disabled: false;
}

MadCap|breadcrumbsProxy
{
	mc-disabled: false;
}

MadCap|concept
{
	mc-disabled: false;
}

MadCap|conceptLink
{
	mc-disabled: false;
}

MadCap|conceptsProxy
{
	mc-disabled: false;
}

MadCap|endnoteBlock
{
	mc-disabled: false;
}

MadCap|endnotesBlock
{
	mc-disabled: false;
}

MadCap|endnotesProxy
{
	mc-disabled: false;
}

MadCap|footnote
{
	mc-disabled: false;
}

MadCap|footnoteBlock
{
	mc-disabled: false;
}

MadCap|footnotesBlock
{
	mc-disabled: false;
}

MadCap|glossaryProxy
{
	mc-disabled: false;
}

MadCap|glossaryTerm
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Expanding
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Hyperlink
{
	mc-disabled: false;
}

MadCap|glossaryTerm.Popup
{
	mc-disabled: false;
}

MadCap|pageFooter
{
	mc-disabled: false;
}

MadCap|pageFooter.EvenPage
{
	mc-disabled: false;
}

MadCap|pageFooter.FirstPage
{
	mc-disabled: false;
}

MadCap|pageFooter.OddPage
{
	mc-disabled: false;
}

MadCap|pageHeader
{
	mc-disabled: false;
}

MadCap|pageHeader.EvenPage
{
	mc-disabled: false;
}

MadCap|pageHeader.FirstPage
{
	mc-disabled: false;
}

MadCap|pageHeader.OddPage
{
	mc-disabled: false;
}

MadCap|relatedTopics
{
	mc-disabled: false;
}

MadCap|section
{
	mc-disabled: false;
}

MadCap|shortcut
{
	mc-disabled: false;
}

MadCap|xref
{
	mc-disabled: false;
}

MadCap|xref.ConceptPageNumber
{
	mc-disabled: false;
}

MadCap|xref.IndexPageNumber
{
	mc-disabled: false;
}

MadCap|xref.ListOfPageNumber
{
	mc-disabled: false;
}

MadCap|xref.TOCPageNumber
{
	mc-disabled: false;
}

madcapEditorBehavior
{
	mc-disabled: false;
}

map
{
	mc-disabled: false;
}

menu
{
	mc-disabled: false;
}

p.Concept
{
	mc-disabled: true;
}

p.ConceptContext
{
	mc-disabled: true;
}

p.MiniTOC1
{
	mc-disabled: false;
}

p.MiniTOC2
{
	mc-disabled: false;
}

p.MiniTOC3
{
	mc-disabled: false;
}

p.MiniTOC4
{
	mc-disabled: false;
}

p.MiniTOC5
{
	mc-disabled: false;
}

p.MiniTOC6
{
	mc-disabled: false;
}

p.MiniTOC7
{
	mc-disabled: false;
}

p.MiniTOC8
{
	mc-disabled: false;
}

p.MiniTOC9
{
	mc-disabled: false;
}

p.TOC1
{
	mc-disabled: false;
}

p.TOC2
{
	mc-disabled: false;
}

p.TOC3
{
	mc-disabled: false;
}

p.TOC4
{
	mc-disabled: false;
}

p.TOC5
{
	mc-disabled: false;
}

p.TOC6
{
	mc-disabled: false;
}

p.TOC7
{
	mc-disabled: false;
}

p.TOC8
{
	mc-disabled: false;
}

p.TOC9
{
	mc-disabled: false;
}

pre
{
	mc-disabled: false;
}

s
{
	mc-disabled: false;
}

samp
{
	mc-disabled: false;
}

select
{
	mc-disabled: false;
}

small
{
	mc-disabled: true;
}

strong
{
	mc-disabled: true;
}

span.SeeAlsoIndex
{
	mc-disabled: false;
}

span.SeeAlsoIndexTerms
{
	mc-disabled: false;
}

span.SeeIndex
{
	mc-disabled: false;
}

span.SeeIndexTerms
{
	mc-disabled: false;
}

p.HowDoI
{
	margin-left: 0pt;
	margin-top: 3pt;
}

a:focus
{
	color: #0000ff;
}

li.Bullet3
{
	font-family: inherit;
	font-weight: normal;
	list-style-type: disc;
	list-style-position: outside;
	font-size: inherit;
	margin-top: 3pt;
	margin-bottom: 3pt;
	margin-left: 32pt;
}

ol
{
	margin-top: 0em;
	margin-bottom: 0em;
}

ul
{
	margin-top: 0em;
	margin-bottom: 0em;
}

li.Lettered3
{
	font-weight: normal;
	list-style-type: lower-alpha;
	list-style-position: outside;
	margin-top: 3pt;
	margin-bottom: 3pt;
	margin-left: 32pt;
}

p.TopicTextIndent3
{
	margin-left: 62pt;
	margin-top: 0pt;
	margin-bottom: 3pt;
}

a.dropspot
{
	color: #0000ff;
}

P.code-snippet
{
	font-family: "Courier New", monospace;
	margin-left: 18pt;
	font-size: inherit;
}

span.CODE
{
	font-family: "Courier New", monospace;
	font-size: inherit;
}

p.BookTitle
{
	
}

p.ChapterContents
{
	color: #4f6e2c;
}

p.PageBreakAfter
{
	page-break-after: always;
	color: #8b0000;
	font-size: 4px;
}

p.FrontMatterTitle
{
	font-weight: bold;
}

p.ChapterAppendixName
{
	font-size: medium;
	text-align: right;
	border-bottom: double 4px;
}

p.ChapterTitle
{
	color: #696969;
	font-size: medium;
	text-align: right;
	font-weight: bold;
}

p.AppendixTitle
{
	color: #696969;
	font-size: medium;
	font-weight: bold;
	text-align: right;
	mc-auto-number-format: 'Appendix {A}';
}

MadCap|xref.H1andpage
{
	mc-format: '{quote}{h1}{quote} on page {page}';
}

MadCap|xref.H1
{
	mc-format: '{quote}{h1}{quote}';
}

MadCap|xref.AppChapNumAndName
{
	font-family: Verdana;
	font-size: inherit;
	text-decoration: none;
	mc-format: '{quote}{paratext}{quote} on page {page}';
}

MadCap|xref.H2
{
	text-decoration: none;
	font-size: inherit;
	mc-format: '{quote}{h2}{quote}';
}

MadCap|xref.H2andpage
{
	text-decoration: none;
	font-size: inherit;
	mc-format: '{quote}{h2}{quote} on page {page}';
}

MadCap|xref.H3
{
	text-decoration: none;
	font-size: inherit;
	mc-format: '{quote}{h3}{quote}';
}

MadCap|xref.H3andpage
{
	text-decoration: none;
	font-size: inherit;
	mc-format: '{quote}{h3}{quote} on page {page}';
}

MadCap|xref.JustPage
{
	text-decoration: none;
	font-size: inherit;
	mc-format: '{page}';
}

MadCap|xref.StepNumber
{
	text-decoration: none;
	font-size: inherit;
	color: #000000;
	mc-format: '{paranumonly}';
}

p.Note
{
	
}

p.NoteIndent
{
	
}

p.NoteIndent1
{
	
}

MadCap|xref.BookmarkinDoc
{
	mc-format: '{quote}{paratext}{quote} on page {page}';
}

