[
'<table style="width:100%">',
    '<thead>',
        '<tr>',
            '<th>',
                '<div class="SummaryTitle">',
                    '<a href="Account.aspx?entityid={%= $.templateData.id %}">{%= Sage.Utility.htmlEncode($.templateData.name) %}</a>',
                '</div>',
            '</th>',
        '</tr>',
        '<tr>',
            '<td>',
                '<span>{%= $.templateData.address_address1 %}</span>',
            '</td>',
        '</tr>',
        '<tr>',
            '<td>',
                '<span>{%= $.templateData.address_citystatezip %}</span>',
            '</td>',
        '</tr>',
    '</thead>',
    '<tbody>',
        '<tr>',
            '<td class="DataColumn">',
                '<table>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svType_Caption || "Type:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.type %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svSubType_Caption || "Sub Type:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.subtype %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svTitle_Status || "Status:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.status %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svDivision_Caption || "Division:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.division %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svIndustry_Caption || "Industry:" %}</td>',
                        '<td class="DataItem">{%= Sage.Format.phone($.templateData.industry) %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svMainPhone_Caption || "Main phone:" %}</td>',
                        '<td class="DataItem">{%= Sage.Format.phone($.templateData.mainphone) %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svTollFree_Caption || "Toll free:" %}</td>',
                        '<td class="DataItem">{%= Sage.Format.phone($.templateData.tollfree) %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svEmail_Caption || "Email:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.email %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svWebAddress_Caption || "Web:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.webaddress %}</td>',
                    '</tr>',
                    '<tr>',
                        '<td class="SummaryCaption">{%= $.svAccMgr_Caption || "Acct. Mgr.:" %}</td>',
                        '<td class="DataItem">{%= $.templateData.accountmanager_userinfo_firstname %} {%= $.templateData.accountmanager_userinfo_lastname %}</td>',
                    '</tr>',
                '</table>',
            '</td>',
        '</tr>',
    '</tbody>',
'</table>',
'<br/>',
'<div style="padding-right:20px; text-align:right">',
    '<asp:Panel runat="server" ID="pnlCancel" CssClass="controlslist qfActionContainer">',
        '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_Close" onClick="javascript:contactSearchForDuplicates._close();">{%= $.closeText %}</div>',
    '</asp:Panel>',
'</div>'
]