[
'<div>',
    '<div dojoType="dijit.Dialog" id="activityDialog" title="" dojoAttachPoint="_dialog" dojoAttachEvent="onHide:_onDlgHide">',
        '<div class="activity-dialog">',  //body
            '<div dojoType="dojox.layout.TableContainer" orientation="horiz" cols="1" labelWidth="{%= $.labelWidth %}" dojoAttachPoint="regardingContainer">',
                '<select id="pk_Regarding" label="{%= $.regardingText %}" id="{%= $.id %}_pk_Regarding" shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.SingleSelectPickList" dojoAttachPoint="pk_Regarding" canEditText="true" itemMustExist="false" maxLength="64" ></select>',
                '<div dojoType="dijit.form.TextBox" label="{%= $.locationText %}" id="{%= $.id %}_tb_Location" dojoAttachPoint="tb_Location" maxLength="255" ></div>',
            '</div>', //first tablecontainer 1 col
        //Dates section for add/edit mode..................
            '<div dojoType="dojox.layout.TableContainer" orientation="horiz" cols="2" labelWidth="{%= $.labelWidth %}" dojoAttachPoint="dateSection_AddEdit">',
                '<div shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.DateTimePicker" id="{%= $.id %}_dtp_startDate" dojoAttachPoint="dtp_startDate" displayDate="true" displayTime="true" label="{%= $.startTimeText %}"></div>',
                '<div shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.DurationSelect" label="{%= $.durationText %}" id="{%= $.id %}_sel_Duration" dojoAttachPoint="sel_Duration" includeDisablingCheckbox="false" valuesAreAfterStart="true"></div>',
                '<div dojoType="dijit.layout.ContentPane" label="" class="remove-padding">',
                    '<div dojoType="dijit.form.CheckBox" label="{%= $.timeLessText %}" id="{%= $.id %}_cb_Timeless" dojoAttachPoint="cb_Timeless" ></div>',
                    '<label class="checkbox-label" for="{%= $.id %}_cb_Timeless">{%= $.timeLessText %}</label>',
                '</div>',
                '<div dojoType="dojox.layout.TableContainer" label="{%= $.alarmText %}" cols="2" showLabels="false" class="removeExtraSpace">',
                    '<div dojoType="dijit.form.CheckBox" id="{%= $.id %}_cb_Alarm" dojoAttachPoint="cb_Alarm" ></div>',
                    '<div shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.DurationSelect" id="{%= $.id %}_sel_AlarmDur" dojoAttachPoint="sel_AlarmDur" valuesAreAfterStart="false" ></div>',
                '</div>',
                '<div dojoType="dijit.layout.ContentPane" label="" class="remove-padding">',
                    '<div dojoType="dijit.form.CheckBox" label="" id="{%= $.id %}_cb_AutoRollover" dojoAttachPoint="cb_AutoRollover"></div>',
                    '<label class="checkbox-label" for="{%= $.id %}_cb_AutoRollover">{%= $.rolloverText %}</label>',
                '</div>',
            '</div>',
        //Dates section for complete mode...................
            '<div dojoType="dojox.layout.TableContainer" orientation="horiz" cols="2" labelWidth="{%= $.labelWidth %}" dojoAttachPoint="dateSection_Complete">',
                '<div shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.DateTimePicker" id="{%= $.id %}_dtp_completedDate" dojoAttachPoint="dtp_completedDate" displayDate="true" displayTime="true" label="{%= $.completedText %}"></div>',
                '<div shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.DateTimePicker" id="{%= $.id %}_dtp_scheduledDate" dojoAttachPoint="dtp_scheduledDate" displayDate="true" displayTime="true" label="{%= $.scheduledText %}"></div>',
                '<div dojoType="dijit.layout.ContentPane" label="" class="remove-padding">',
                    '<div dojoType="dijit.form.CheckBox" label="{%= $.timeLessText %}" id="{%= $.id %}_cb_TimelessComplete" dojoAttachPoint="cb_TimelessComplete" ></div>',
                    '<label class="checkbox-label" for="{%= $.id %}_cb_TimelessComplete">{%= $.timeLessText %}</label>',
                '</div>',
                '<div shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.DurationSelect" label="{%= $.durationText %}" id="{%= $.id %}_sel_DurationComplete" dojoAttachPoint="sel_DurationComplete" includeDisablingCheckbox="false" valuesAreAfterStart="true"></div>',
            '</div>',

            '<div dojoType="dijit.layout.TabContainer" id="{%= $.id %}_tc_EditActivity"  dojoAttachPoint="tc_EditActivity" class="tab-container">',
/*  General Tab   */
                '<div dojoType="dijit.layout.ContentPane" id="{%= $.id %}_cp_General" title="{%= $.tabNameGeneralText %}" class="tabContent remove-padding" dojoAttachPoint="cp_General">',
                    '<div dojoType="dojox.layout.TableContainer" orientation="horiz" cols="1" labelWidth="{%= $.labelWidth %}" dojoAttachPoint="resultContainer" class="bottom-border-section">', 
                        '<select shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.SingleSelectPickList" label="{%= $.resultText %}" id="{%= $.id %}_pl_Result"  name="pl_Result" dojoAttachPoint="pl_Result" canEditText="true" itemMustExist="false" maxLength="64"></select>',
                    '</div>',
                    '<div dojoType="dojox.layout.TableContainer" orientation="horiz" cols="4" labelWidth="4" baseClass="contact-lead-radios" >',
                        '<input dojoType="dijit.form.RadioButton" type="radio" name="contactOrLead" label="{%= $.contactText %}" value="contact" id="{%= $.id %}_rdo_Contact" dojoAttachPoint="rdo_Contact" dojoAttachEvent="onChange:_setContactLeadVisibility" checked="true" />',
                        '<input dojoType="dijit.form.RadioButton" type="radio" name="contactOrLead" label="{%= $.leadText %}" value="lead" id="{%= $.id %}_rdo_Lead" dojoAttachPoint="rdo_Lead" />',
                    '</div>',
                    '<div dojoType="dojox.layout.TableContainer" orientation="horiz" cols="2" labelWidth="{%= $.labelWidth %}" dojoAttachPoint="contactContainer" baseClass="bottom-border-section">',

                        '<div dojoType="dijit.layout.ContentPane" label="{%= $.nameText %}" dojoAttachPoint="container_ContactLup" class="remove-padding lookup-container"></div>',
                        '<div dojoType="dijit.layout.ContentPane" label="{%= $.opportunityText %}" dojoAttachPoint="container_OppLup" class="remove-padding lookup-container"></div>',
                        '<div dojoType="dijit.layout.ContentPane" label="{%= $.accountText %}" dojoAttachPoint="container_AccountLup"  class="remove-padding lookup-container"></div>',
                        '<div dojoType="dijit.layout.ContentPane" label="{%= $.ticketText %}" dojoAttachPoint="container_TicketLup"  class="remove-padding lookup-container"></div>',
                    '</div>',
                    '<div dojoType="dojox.layout.TableContainer" orientation="horiz" cols="2" labelWidth="{%= $.labelWidth %}" dojoAttachPoint="leadContainer"  baseClass="bottom-border-section" class="display-none">',
                        '<div dojoType="dijit.layout.ContentPane" label="{%= $.nameText %}" dojoAttachPoint="container_LeadLup"  class="remove-padding lookup-container"></div>',
                        '<input dojoType="dijit.form.TextBox" id="{%= $.id %}_tb_LeadCompanyName" label="{%= $.companyText %}" dojoAttachPoint="tb_LeadCompanyName" readonly="true" />',
                    '</div>',
                    '<div dojoType="dojox.layout.TableContainer" orientation="horiz" cols="2" labelWidth="{%= $.labelWidth %}" class="bottom-border-section" >',
                        '<select label="{%= $.priorityText %}" id="{%= $.id %}_pk_Priority" shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.SingleSelectPickList" dojoAttachPoint="pk_Priority" canEditText="true" itemMustExist="false" pickListName="Priorities" sort="false" maxLength="64" style="width: {%= 472 - $.labelWidth %}px;"></select>',
                        '<div dojoType="dijit.layout.ContentPane" label="{%= $.leaderText %}" dojoAttachPoint="container_LeaderLup" class="remove-padding lookup-container" style="width: {%= 472 - $.labelWidth %}px;"></div>',
                        '<select label="{%= $.categoryText %}" id="{%= $.id %}_pk_Category" shouldPublishMarkDirty="false" dojoType="Sage.UI.Controls.SingleSelectPickList" dojoAttachPoint="pk_Category" canEditText="true" itemMustExist="false" maxLength="64" style="width: {%= 472 - $.labelWidth %}px;"></select>',
                        '<div dojoType="dijit.layout.ContentPane" label="&nbsp;" class="dijitTextBox" style="border-width:0px">&nbsp;</div>',
                    '</div>',
                    '<div dojoType="dojox.layout.TableContainer" orientation="horiz" cols="1" labelWidth="{%= $.labelWidth %}" class="valigntop" dojoAttachPoint="notesContainer">',
                        '<textarea dojoType="dijit.form.SimpleTextarea" id="{%= $.id %}_ta_Notes" label="{%= $.notesText %}" dojoAttachPoint="ta_Notes" class="notes-text"></textarea>',
                    '</div>',
                '</div>',  // end general tab
/* Availability Tab   */
                '<div dojoType="dijit.layout.ContentPane" id="{%= $.id %}_cp_Availability" title="{%= $.tabNameAvailabilityText %}" class="tabContent remove-padding" dojoAttachPoint="cp_Availability" dojoAttachEvent="onShow:_onShowAvailabilityTab">',
                    '<div dojoType="dijit.Toolbar" region="top" splitter="false" class="right-tools" >',  // list-panel-tbar                                  
                        '<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="container_ResourcesLup" class="remove-padding"></div>',
                    '</div>',
/* Scheduler ........... */
                    '<div id="scheduler_here" class="dhx_cal_container" style="width:100%;height:230px;">',
                        '<div class="dhx_cal_navline">',
                            '<div class="dhx_cal_prev_timeline_button" style="right:50px;">&nbsp;</div>',
			                '<div class="dhx_cal_next_timeline_button" style="right:19px;">&nbsp;</div>',
//'<div class="dhx_cal_today_button"></div>',
			                '<div class="dhx_cal_date"></div>',
//'<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>',
//'<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>',
                            '<div class="dhx_cal_tab" name="timeline_tab" style="right:280px;"></div>',
//'<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>',
		                '</div>',
		                '<div class="dhx_cal_header"></div>',
		                '<div class="dhx_cal_data"></div>',
                    '</div>',
                '</div>',
/* Recurring Tab  */
                '<div dojoType="dijit.layout.ContentPane" id="{%= $.id %}_cp_Recurring" title="{%= $.recurringText %}" class="tabContent" dojoAttachPoint="cp_Recurring" dojoAttachEvent="onShow:_showRecurringTab">',
                    '<div shouldPublishMarkDirty="false" dojoType="Sage.MainView.ActivityMgr.RecurringEditor" id="{%= $.id %}_recEd" labelWidth="{%= $.labelWidth - 20 %}" dojoAttachPoint="_recurringEditor"></div>',
                '</div>',
/* Attachments Tab  */
                '<div dojoType="dijit.layout.ContentPane" id="{%= $.id %}_cp_Attachments" title="{%= $.tabNameAttachmentsText %}" class="tabContent remove-padding" dojoAttachPoint="cp_Attachments" dojoAttachEvent="onShow:_showAttachmentsTab">',
                    '<div id="{%= $.id %}_attachmentsGridPlaceholder" dojoAttachPoint="_attachmentGridPlaceholder" style="width:100%;height:100%"></div>',
                '</div>',
            '</div>',  //tab container
/* Buttons       */
        // Add/edit activity buttons
            '<table class="button-bar" id="add_edit_buttons" dojoAttachPoint="add_edit_buttons">',
                '<tr>',
                    '<td class="alignleft">',
                        '<div class="scheduled-by-label" dojoAttachPoint="lbl_ScheduledBy"></div>',
                    '</td><td class="alignright">',
                        '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_Complete" name="btn_Complete" dojoAttachPoint="btn_Complete" dojoAttachEvent="onClick:_completeClick">{%= $.completeBtnText %}</div>',
                        '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_Delete" name="btn_Delete" dojoAttachPoint="btn_Delete" dojoAttachEvent="onClick:_deleteClick">{%= $.deleteText %}</div>',
                        '<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>',
                        '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_OK" name="btn_OK" dojoAttachPoint="btn_OK" dojoAttachEvent="onClick:_okClick">{%= $.okText %}</div>',
                        '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_Cancel" name="btn_Cancel" dojoAttachPoint="btn_Cancel" dojoAttachEvent="onClick:_cancelClick">{%= $.cancelText %}</div>',
                    '</td>',
                '</tr>',
            '</table>',


        //complete activity buttons
            '<table class="button-bar display-none" id="complete_buttons" dojoAttachPoint="complete_buttons">',
                '<tr>',
                    '<col width="50%" /><col width="50%" />',
                    '<td class="alignleft">',
                        '<div dojoType="dojox.layout.TableContainer" orientation="horiz" cols="1" labelWidth="{%= $.labelWidth %}" >',
                            '<select label="{%= $.followupText %}" id="sel_Followup" dojoType="dijit.form.ComboBox" dojoAttachPoint="sel_Followup">',
                                '<option value="none" selected="selected">{%= $.noneText %}</option>',
                                '<option value="phone">{%= Sage.Utility.Activity.getActivityTypeName("atPhoneCall") %}</option>',
                                '<option value="meeting">{%= Sage.Utility.Activity.getActivityTypeName("atAppointment") %}</option>',
                                '<option value="todo">{%= Sage.Utility.Activity.getActivityTypeName("atToDo") %}</option>',
                            '</select>',
                            '<div dojoType="dijit.layout.ContentPane" label="" class="remove-padding">',
                                '<div dojoType="dijit.form.CheckBox" label="" id="ck_coAttachments" dojoAttachPoint="ck_coAttachments" ></div>',
                                '<label class="checkbox-label" for="{%= $.id %}_ck_coAttachments">{%= $.carryOverAttachmentsText %}</label>',
                            '</div>',
                            '<div dojoType="dijit.layout.ContentPane" label="" class="remove-padding">',
                                '<div dojoType="dijit.form.CheckBox" label="" id="ck_coNotes" dojoAttachPoint="ck_coNotes" ></div>',
                                '<label class="checkbox-label" for="{%= $.id %}_ck_coNotes">{%= $.carryOverNotesText %}</label>',
                            '</div>',
                        '</div>',
                    '</td><td class="alignright valignbottom" rowspan="2">',
                        '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_asScheduled" name="btn_asScheduled" dojoAttachPoint="btn_asScheduled" dojoAttachEvent="onClick:_asScheduledClick">{%= $.asScheduledText %}</div>',
                        '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_Now" name="btn_Now" dojoAttachPoint="btn_Now" dojoAttachEvent="onClick:_nowClick">{%= $.nowText %}</div>',
                        '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_CancelComplete" name="btn_Cancel" dojoAttachPoint="btn_CancelComplete" dojoAttachEvent="onClick:_cancelClick">{%= $.cancelText %}</div>',
                    '</td>',
                '</tr><tr>',
                    '<td class="alignleft" >',
                        '<div class="scheduled-by-label" dojoAttachPoint="lbl_ScheduledByComp"></div>',
                    '</td>',
                '</tr>',
            '</table>',



        //Confirmations button bar...
            '<table class="button-bar display-none" id="confirmation_edit_buttons" dojoAttachPoint="confirmation_edit_buttons">',
                '<tr>',
                    '<td class="alignleft" style="width:{%= $.labelWidth %}px;">',
                        '<label for="{%= $.id %}_ta_confirmationResponse" id="responseLabel" dojoAttachPoint="responseLabel">{%= $.responseText %}</label>',
                    '</td>',
                    '<td class="alignleft">',
                        '<textarea dojoType="dijit.form.SimpleTextarea" id="{%= $.id %}_ta_confirmationResponse" dojoAttachPoint="ta_confirmationResponse" class="notes-text dijitTextBox" maxLength="128" ></textarea>',
                    '</td><td class="alignright valignbottom">',
                        '<span id="newConfButtons" dojoAttachPoint="newConfButtons">',
                            '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_accept" name="btn_accept" dojoAttachPoint="btn_accept" dojoAttachEvent="onClick:_acceptConfClick">{%= $.acceptText %}</div>',
                            '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_decline" name="btn_decline" dojoAttachPoint="btn_decline" dojoAttachEvent="onClick:_declineClick">{%= $.declineText %}</div>',
                            '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_cancelConf" name="btn_cancelConf" dojoAttachPoint="btn_cancelConf" dojoAttachEvent="onClick:_cancelClick">{%= $.cancelText %}</div>',
                        '</span>',
                        '<span id="otherConfButtons" dojoAttachPoint="otherConfButtons" class="display-none">',
                            '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_deleteConf" name="btn_deleteConf" dojoAttachPoint="btn_deleteConf" dojoAttachEvent="onClick:_deleteConfClick">{%= $.deleteConfText %}</div>',
                            '<div dojoType="dijit.form.Button" id="{%= $.id %}_btn_closeConf" name="btn_closeConf" dojoAttachPoint="btn_closeConf" dojoAttachEvent="onClick:_cancelClick">{%= $.closeText %}</div>',
                        '</span>',
                    '</td>',
                '</tr>',
            '</table>',
        '</div>', //body
    '</div>',  //dialog
'</div>' //root node
]
