[
  '<table style="width:100%">',
  '    <col style="width:33%" />',
  '    <col style="width:33%" />',
  '    <col style="width:33%" />',
  '    <col style="width:1%" />',
  '    <thead><tr><th colspan="3">',
  '       <div class="SummaryTitle">',
  '           {%= Sage.Utility.Activity.secureActivityData($.entity) %}',
  '           {%= Sage.Utility.Activity.getActivitySummaryHeader($.entity) %}',
  '            <span class="SummaryTitleButton" style="float:right" >',
  '                <button id="{%= $.id %}_list_AllOpenCompleteButtonNode" data-dojo-type="dijit.form.Button" onClick=" {%= Sage.Utility.Activity.getActivityCompleteHref($.entity) %}">{%= $.btnComplete_Caption || "Complete" %} </button>',
  '            </span>',
  '       </div>',
  '    </th></tr></thead>',
  '    <tbody>',
  '    <tr>',
  '        <td class="DataColumn">',
  '            <table >',
  '                <tr id="{%= $.id %}_AllOpenListSummary_txtLocation">',
  '                    <td class="SummaryCaption">{%= $.txtLocation_Caption || "Location:" %}</td>',
  '                    <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.Location) %}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_AllOpenListSummary_txtStartTime">',
  '                    <td class="SummaryCaption">{%= $.txtStartTime_Caption || "Start Time:" %}</td>',
  '                    <td class="DataItem">{%= Sage.Utility.Activity.formatActivityStartDate($.entity.StartDate, $.entity.Timeless)%}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_AllOpenListSummary_txtDuration\">',
  '                    <td class="SummaryCaption">{%= $.txtDuration_Caption || "Duration:" %}</td>',
  '                    <td class="DataItem">{%= Sage.Utility.Activity.formatDuration($.entity.Duration, $.entity.Timeless)%}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_AllOpenListSummary_txtLeader">',
  '                    <td class="SummaryCaption">{%= $.txtLeader_Caption || "Leader:" %}</td>',
  '                    <td class="DataItem">{%= $.entity.Leader["$descriptor"] %}</td>',
  '                </tr>',
  '            </table>',
  '         </td>',
  '         <td class="DataColumn">',
  '            <table>',
  '                <tr id="{%= $.id %}_AllOpenListSummary_linkContactName">',
  '                   {% if (Sage.Utility.Activity.isValidId($.entity.LeadId)) { %}',
  '                          <td class="SummaryCaption">{%= $.lnkLeadName_Caption || "Lead:" %}</td>',
  '                          <td class="DataItem"><a href="Lead.aspx?entityid={%= $.entity.LeadId %}" >{%= $.entity.LeadName %}</a></td>',
  '                  {% } else { %}', 
  '                          <td class="SummaryCaption">{%= $.lnkContactName_Caption || "Contact:" %}</td>',
  '                          <td class="DataItem"><a href="Contact.aspx?entityid={%= $.entity.ContactId %}" >{%= Sage.Utility.htmlEncode($.entity.ContactName) %}</a></td>',
  '                   {% } %}',                    
  '                </tr>', 
  '                <tr id="{%= $.id %}_AllOpenListSummary_txtPhone">',
  '                    <td class="SummaryCaption">{%= $.txtPhone_Caption || "Phone:" %} </td>',
  '                    <td class="DataItem">{%= Sage.Format.phone($.entity.PhoneNumber) %}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_AllOpenListSummary_linkAccountName">',
  '                 {% if (Sage.Utility.Activity.isValidId($.entity.LeadId)) { %}',
  '                          <td class="SummaryCaption">{%= $.lnkCompanyName_Caption || "Company:" %}</td>',
  '                          <td class="DataItem"><a href="Lead.aspx?entityid={%= $.entity.LeadId %}" >{%= $.entity.LeadName %}</a></td>',
  '                  {% } else { %} ', 
  '                     <td class="SummaryCaption">{%= $.lnkAccountName_Caption || "Account:" %}</td>',
  '                     <td class="DataItem"><a href="Account.aspx?entityid={%= $.entity.AccountId %}" >{%= Sage.Utility.htmlEncode($.entity.AccountName) %}</a></td>',
  '                   {% } %}',    
  '                </tr>',
  '            </table>',
  '        </td>',
  '        <td>',
  '            <table>',  
  '                <tr id="{%= $.id %}_AllOpenListSummary_linkOpportunityName">',
  '                    <td class="SummaryCaption">{%= $.lnkOpportunity_Caption || "Opportunity:" %}</td>',
  '                    <td class="DataItem"><a href="Opportunity.aspx?entityid={%= $.entity.OpportunityId %}" >{%= Sage.Utility.htmlEncode($.entity.OpportunityName) %}</a></td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_ActivitySummaryList_lnkTicketNumber">',
  '                    <td class="SummaryCaption">{%= $.lnkTicket_Caption ||"Ticket:" %}</td>',
  '                    <td class="DataItem"><a href="Ticket.aspx?entityid={%= $.entity.TicketId %}" >{%= Sage.Utility.htmlEncode($.entity.TicketNumber) %}</a></td>',
  '                 </tr>',
  '            </table>',
  '        </td>',
  '        <td></td>',
  '      </tr>',
  '      <tr>',
  '           <td colspan="3">',
  '               <table>', 
  '                   <tr id="{%= $.id %}_AllOpenListSummary_txtNotes">',
  '                       <td class="SummaryCaption">{%= $.txtNotes_Caption || "Notes:" %}</td>',
  '                     <td><div class="DataItem">{%= Sage.Utility.htmlEncode($.entity.Notes) %}</div></td>',
  '                  </tr>',
  '              </table>',
  '          </td>',
  '       </tr>',
  '   </tbody>',
  '</table>'
]