[
  '<table style="width:100%">',
  '    <col style="width:60%" />',
  '    <col style="width:40%" />',
  '    <thead><tr><th colspan="2">',
  '       <div class="SummaryTitle">',
  '            {%= Sage.Utility.Activity.secureActivityData($.entity) %}',
  '            {%= Sage.Utility.Activity.getActivitySummaryHeader($.entity) %}',
  '            <span class="SummaryTitleButton" style="float:right" >',
  '                <button id="{%= $.id %}_detail_AllOpenCompleteButtonNode" data-dojo-type="dijit.form.Button" onClick=" {%= Sage.Utility.Activity.getActivityCompleteHref($.entity) %}">{%= $.btnComplete_Caption || "Complete" %} </button>',
  '            </span>',
  '       </div>',
  '    </th></tr></thead>',
  '    <tbody>',
  '    <tr>',
  '        <td>',
  '            <table>',
  '                <tr id="{%= $.id %}_AllOpenDetailSummary_txtLocation">',
  '                    <td class="SummaryCaption">{%= $.txtLocation_Caption || "Location:" %} </td>',
  '                    <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.Location) %}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_AllOpenDetailSummary_txtStartTime">',
  '                    <td class="SummaryCaption">{%= $.txtStartTime_Caption || "Start Time:" %}</td>',
  '                    <td class="DataItem">{%= Sage.Utility.Activity.formatActivityStartDate($.entity.StartDate, $.entity.Timeless)%}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_AllOpenDetailSummary_txtLeader">',
  '                    <td class="SummaryCaption">{%= $.txtLeader_Caption || "Leader:" %}</td>',
  '                    <td class="DataItem">{%= $.entity.Leader["$descriptor"] %}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_AllOpenDetailSummary_linkContactName">',
  '                   {% if (Sage.Utility.Activity.isValidId($.entity.LeadId)) { %}',
  '                          <td class="SummaryCaption">{%= $.lnkLeadName_Caption || "Lead:" %}</td>',
  '                          <td class="DataItem"><a href="Lead.aspx?entityid={%= $.entity.LeadId %}" >{%= Sage.Utility.htmlEncode($.entity.LeadName) %}</a></td>',
  '                  {% } else { %}', 
  '                          <td class="SummaryCaption">{%= $.lnkContactName_Caption || "Contact:" %}</td>',
  '                          <td class="DataItem"><a href="Contact.aspx?entityid={%= $.entity.ContactId %}" >{%= Sage.Utility.htmlEncode($.entity.ContactName) %}</a></td>',
  '                   {% } %}',                    
  '                </tr>', 
  '                <tr id="{%= $.id %}_AllOpenDetailSummary_txtPhone">',
  '                    <td class="SummaryCaption">{%= $.txtPhone_Caption || "Phone:" %}</td>',
  '                    <td class="DataItem">{%= Sage.Format.phone($.entity.PhoneNumber) %}</td>',
  '                </tr>',
  '                <tr id="{%= $.id %}_AllOpenDetailSummary_linkAccountName">',
  '                 {% if (Sage.Utility.Activity.isValidId($.entity.LeadId)) { %}',
  '                          <td class="SummaryCaption">{%= $.lnkCompany_Caption || "Compnay:" %}</td>',
  '                          <td class="DataItem"><a href="Lead.aspx?entityid={%= $.entity.LeadId %}" >{%= Sage.Utility.htmlEncode($.entity.AccountName) %}</a></td>',
  '                  {% } else { %} ', 
  '                     <td class="SummaryCaption">{%= $.lnkAccountName_Caption || "Account:" %}</td>',
  '                     <td class="DataItem"><a href="Account.aspx?entityid={%= $.entity.AccountId %}" >{%= Sage.Utility.htmlEncode($.entity.AccountName) %}</a></td>',
  '                   {% } %}',    
  '                </tr>',
  '            </table>',
  '        </td>',
  '        <td>',
  '             <table>',
  '                   <tr id="{%= $.id %}_AllOpenDetailSummary_txtNotes">',
  '                     <td>',
  '                          <span class="SummaryCaption">{%= $.txtNotes_Caption || "Notes:" %}</span>',
  '                          <div><textarea  dojoType="dijit.form.SimpleTextarea" class="SummaryTextArea"  rows="7" cols="80" readonly>{%= Sage.Utility.htmlEncode($.entity.LongNotes) %}</textarea></div>',
  '                      </td>',
  '                  </tr>',
  '              </table>',
  '          </td>',
  '      </tr>',
  '   </tbody>',
  '</table>'
]