[
  '<table style="width:100%">',
  '    <col style="width:30%" />',
  '    <col style="width:35%" />',
  '    <col style="width:35%" />',
  '    <thead><tr><th colspan="3">',
  '        <div class="SummaryTitle">',
  '          {% if($.entity.Alarm){ %}',
  '                 <div class="Global_Images icon24x24 icon_Alarm_24x24" > </div>&nbsp;',
  '            {% } %}',
  '            {% if ($.entity.Recurring) { %}',
  '                 <div class="Global_Images icon16x16 icon_recurring" > </div>&nbsp;',
  '            {% } %}',
  '            <div class="Global_Images icon24x24 {%= Sage.Utility.Activity.getActivityImageClass($.entity.ActivityType, \'medium\') %}" > </div>&nbsp;',
  '            <a href="javascript:Sage.Link.editConfirmation(\'{%= $.entity.id %}\')" >{%= Sage.Utility.Activity.getConfirmationDisplayName(Sage.Utility.Activity.getConfirmationTypeEnumCode($.entity.Type)) + " - " + $.entity.Description || ""  %} </a>',
  '            <span class="SummaryTitleButton" style="float:right" >',
  '            {% if (Sage.Utility.Activity.getConfirmationTypeEnumCode($.entity.Type) === "New") { %}',
  '                <button id="{%= $.id %}_list_confirmAcceptButtonNode" data-dojo-type="dijit.form.Button" onClick="javascript:Sage.Link.acceptConfirmation(\'{%= $.entity.id %}\')">{%= $.btnAccept_Caption || "Accept" %} </button>',
  '                <button id="{%= $.id %}_list_confirmDeclineButtonNode" data-dojo-type="dijit.form.Button" onClick="javascript:Sage.Link.declineConfirmation(\'{%= $.entity.id %}\')">{%= $.btnDecline_Caption || "Decline" %}</button>', 
  '            {% } else { %}',
  '                <button id="{%= $.id %}_list_confirmDeleteButtonNode"  data-dojo-type="dijit.form.Button" onClick="javascript:Sage.Link.deleteConfirmation(\'{%= $.entity.id %}\')">{%= $.btnDelete_Caption || "Delete" %}</button>',
  '            {% } %}',
  '            </span>',
  '        </div>',
  '    </th></tr></thead>',
  '    <tbody>',
  '        <tr>',
  '            <td class="DataColumn">',
  '                <table>',
  '                    <tr id="{%= $.id %}_ConfirmationListSummary_slxFromUser">',
  '                         <td class="SummaryCaption">{%= $.txtFromUser_Caption || "From:" %}</td>',
  '                         <td class="DataItem">{%= $.entity.FromUser %}</td>',
  '                     </tr>',
  '                     <tr id="{%= $.id %}_ConfirmationListSummary_txtLocation">',
  '                         <td class="SummaryCaption">{%= $.txtLocation_Caption || "Location" %}</td>',
  '                         <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.Location) %}</td>',
  '                     </tr>',
  '                     <tr id="{%= $.id %}_ConfirmationListSummary_txtStartDate">',
  '                         <td class="SummaryCaption">{%= $.txtStartDate_Caption || "Start Date:" %}</td>',
  '                         <td class="DataItem">{%= Sage.Utility.Activity.formatActivityStartDate($.entity.StartDate, $.entity.Timeless)%}</td>',
  '                     </tr>',
  '                     <tr id="{%= $.id %}_ConfirmationListSummary_txtDuration">',
  '                         <td class="SummaryCaption">{%= $.txtDuration_Caption || "Duration" %}</td>',
  '                         <td class="DataItem">{%= Sage.Utility.Activity.formatDuration($.entity.Duration, $.entity.Timeless)%}</td>',
  '                     </tr>',
  '                     <tr id="{%= $.id %}_ConfirmationListSummary_slxLeader">',
  '                         <td class="SummaryCaption">{%= $.txtLeader_Caption || "Leader:" %}</td>',
  '                         <td class="DataItem">{%= $.entity.LeaderName %}</td>',
  '                     </tr>',
  '                 </table>',
  '             </td>',
  '             <td class="DataColumn">',
  '                 <table>',
  '                     <tr id="{%= $.id %}_ConfirmationListSummary_lnkContactName">',
  '                         <td class="SummaryCaption">{%= $.lnkContactName_Caption || "Contact:" %}</td>',
  '                         <td class="DataItem"><a href="Contact.aspx?entityid={%= $.entity.ContactId %}" >{%= Sage.Utility.htmlEncode($.entity.ContactName) %}</a></td>',
  '                     </tr>',
  '                     <tr id="{%= $.id %}_ConfirmationListSummary_slxPhone">',
  '                         <td class="SummaryCaption">{%= $.txtPhone_Caption || "Phone:" %}</td>',
  '                         <td class="DataItem">{%= Sage.Format.phone($.entity.PhoneNumber) %}</td>',
  '                     </tr>',
  '                     <tr id="{%= $.id %}_ConfirmationListSummary_lnkAccountName">',
  '                         <td class="SummaryCaption">{%= $.lnkAccountName_Caption || "Account:" %}</td>',
  '                         <td class="DataItem"><a href="Account.aspx?entityid={%= $.entity.AccountId %}" >{%= Sage.Utility.htmlEncode($.entity.AccountName) %}</a></td>',
  '                    </tr>',
  '                </table>',
  '            </td>',
  '            <td class="DataColumn">',
  '                <table>',
  '                    <tr id="{%= $.id %}_ConfirmationListSummary_lnkOpportunityName">',
  '                        <td class="SummaryCaption">{%= $.lnkOpportunity_Caption || "Opportunity:" %}</td>',
  '                        <td class="DataItem"><a href="Opportunity.aspx?entityid={%= $.entity.OpportunityId %}" >{%= Sage.Utility.htmlEncode($.entity.OpportunityName) %}</a></td>',
  '                    </tr>',
  '                    <tr id="{%= $.id %}_ConfirmationListSummary_lnkTicket">',
  '                        <td class="SummaryCaption">{%= $.lnkTicket_Caption || "Ticket:" %}</td>',
  '                        <td class="DataItem"><a href="Ticket.aspx?entityid={%= $.entity.TicketId %}" >{%= Sage.Utility.htmlEncode($.entity.TicketNumber) %}</a></td>',
  '                    </tr>',
  '                </table>',
  '            </td>',
  '        </tr>',
  '      <tr>',
  '           <td colspan="3">',
  '               <table>', 
  '                   <tr id="{%= $.id %}__ConfirmationListSummary_txtNotes">',
  '                       <td class="SummaryCaption">{%= $.txtNotes_Caption || "Notes:" %}</td>',
  '                     <td><div class="DataItem">{%= Sage.Utility.htmlEncode($.entity.Notes) %}</div></td>',
  '                  </tr>',
  '              </table>',
  '          </td>',
  '       </tr>', 
  '    </tbody>',
  ' </table>'
]