
['<div>',
    '<table style="width:100%">',
        '<tr>',
            '<td class="recurring-selectors">',  //radio buttons...
                '<div>{%= $.activityOccurrsText %}</div>',
                '<div>',
                    '<input dojoType="dijit.form.RadioButton" type="radio" name="recurPeriod" value="None" id="{%= $.id %}_rdo_Once" dojoAttachPoint="rdo_Once" checked="true" dojoAttachEvent="onChange:_onceChanged" />',  //  
                    '<label for="{%= $.id %}_rdo_Once">&nbsp;{%= $.onceText %}</label>',
                '</div><div>',
                    '<input dojoType="dijit.form.RadioButton" type="radio" name="recurPeriod" value="daily" id="{%= $.id %}_rdo_Daily" dojoAttachPoint="rdo_Daily" dojoAttachEvent="onChange:_dailyChanged" />',
                    '<label for="{%= $.id %}_rdo_Daily">&nbsp;{%= $.dailyText %}</label>',
                '</div><div>',
                    '<input dojoType="dijit.form.RadioButton" type="radio" name="recurPeriod" value="weekly" id="{%= $.id %}_rdo_Weekly" dojoAttachPoint="rdo_Weekly" dojoAttachEvent="onChange:_weeklyChanged" />',
                    '<label for="{%= $.id %}_rdo_Weekly">&nbsp;{%= $.weeklyText %}</label>',
                '</div><div>',
                    '<input dojoType="dijit.form.RadioButton" type="radio" name="recurPeriod" value="monthly" id="{%= $.id %}_rdo_Monthly" dojoAttachPoint="rdo_Monthly" dojoAttachEvent="onChange:_monthlyChanged" />',
                    '<label for="{%= $.id %}_rdo_Monthly">&nbsp;{%= $.monthlyText %}</label>',
                '</div><div>',
                    '<input dojoType="dijit.form.RadioButton" type="radio" name="recurPeriod" value="yearly" id="{%= $.id %}_rdo_Yearly" dojoAttachPoint="rdo_Yearly" dojoAttachEvent="onChange:_yearlyChanged" />',
                    '<label for="{%= $.id %}_rdo_Yearly">&nbsp;{%= $.yearlyText %}</label>',
                '</div>',
            '</td>',
            '<td>',  //panel for each different recurring type...
                '<div dojoType="dijit.layout.StackContainer" dojoAttachPoint="_panelContainer" class="recurring-body" >',
                    '<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="_oncePanel" class="recurring-panel"  >',
                        '{%= $.occursOnceText %}',
                    '</div>',
//daily panel...............................
                    '<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="_dailyPanel" class="recurring-panel"  >',
                        '<div>',
                            '<div class="recurring-radio-label" style="min-width:{%= $.labelWidth %}px;">',
                                '<input dojoType="dijit.form.RadioButton" type="radio" name="dailyEvery" value="days" id="{%= $.id %}_rdoDailyEvery" checked="true" dojoAttachPoint="_rdoDailyEvery" dojoAttachEvent="onChange:_dailyEveryChanged" />',
                                '<label for="{%= $.id %}_rdoDailyEvery" class="padded-inline-label">{%= $.everyText %}</label>',
                            '</div>',
                            '<input dojoType="Sage.UI.NumberTextBox" shouldPublishMarkDirty="false" value="1" constraints="{places: 0, type: \'decimal\'}" dojoAttachPoint="_dailyEveryText" class="small-inline-textbox" dojoAttachEvent="onChange:_intervalChanged" />',
                            '<span class="padded-inline-label">{%= $.daysText %}</span>',
                        '</div>',
                        '<div>',
                            '<div class="recurring-radio-label" style="min-width:{%= $.labelWidth %}px;">',
                                '<input dojoType="dijit.form.RadioButton" type="radio" name="dailyEvery" value="daysAfter" id="{%= $.id %}_rdoDailyEveryAfter" dojoAttachPoint="_rdoDailyEveryAfter" />',
                                '<label for="{%= $.id %}_rdoDailyEveryAfter" class="padded-inline-label">{%= $.everyText %}</label>',
                            '</div>',
                            '<input dojoType="Sage.UI.NumberTextBox" shouldPublishMarkDirty="false" value="1" constraints="{places: 0, type: \'decimal\'}" dojoAttachPoint="_dailyEveryAfterText" disabled="true" class="small-inline-textbox" dojoAttachEvent="onChange:_intervalChanged" />',
                            '<span class="padded-inline-label">{%= $.daysAfterText %}</span>',
                            '</div>',
                    '</div>',
//weekly panel............................
                    '<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="_weeklyPanel" class="recurring-panel"  >',
                        '<div>',
                            '<div class="recurring-radio-label" style="min-width:{%= $.labelWidth %}px;">',
                                '<input dojoType="dijit.form.RadioButton" type="radio" name="weeklyEvery" value="weeksOn" id="{%= $.id %}_rdoWeeklyEvery" checked="true" dojoAttachPoint="_rdoWeeklyEvery" dojoAttachEvent="onChange:_weeklyEveryChanged" />',
                                '<label for="{%= $.id %}_rdoWeeklyEvery" class="padded-inline-label">{%= $.everyText %}</label>',
                            '</div>',
                            '<input dojoType="Sage.UI.NumberTextBox" shouldPublishMarkDirty="false" value="1" constraints="{places: 0, type: \'decimal\'}" dojoAttachPoint="_weeklyEveryText" class="small-inline-textbox" dojoAttachEvent="onChange:_intervalChanged" />',
                            '<span class="padded-inline-label">{%= $.weeksOnText %}</span>',
                        '</div>',
                        '<div style="white-space:normal;padding-bottom:10px;">',
                            '<span class="no-wrap">',
                                '<input dojoType="dijit.form.CheckBox" type="checkbox" name="chkMonday" value="mon" id="{%= $.id %}_chkMonday" dojoAttachPoint="_chkMonday" dojoAttachEvent="onClick:_dayChecked" />',
                                '<label for="{%= $.id %}_chkMonday" class="padded-inline-label">{%= $.monText %}</label>',
                            '</span>',
                            '<span class="no-wrap">',
                                '<input dojoType="dijit.form.CheckBox" type="checkbox" name="chkTuesday" value="tue" id="{%= $.id %}_chkTuesday" dojoAttachPoint="_chkTuesday" dojoAttachEvent="onClick:_dayChecked" />',
                                '<label for="{%= $.id %}_chkTuesday" class="padded-inline-label">{%= $.tueText %}</label>',
                            '</span>',
                            '<span class="no-wrap">',
                                '<input dojoType="dijit.form.CheckBox" type="checkbox" name="chkWednesday" value="wed" id="{%= $.id %}_chkWednesday" dojoAttachPoint="_chkWednesday" dojoAttachEvent="onClick:_dayChecked" />',
                                '<label for="{%= $.id %}_chkWednesday" class="padded-inline-label">{%= $.wedText %}</label>',
                            '</span>',
                            '<span class="no-wrap">',
                                '<input dojoType="dijit.form.CheckBox" type="checkbox" name="chkThursday" value="thu" id="{%= $.id %}_chkThursday" dojoAttachPoint="_chkThursday" dojoAttachEvent="onClick:_dayChecked" />',
                                '<label for="{%= $.id %}_chkThursday" class="padded-inline-label">{%= $.thurText %}</label>',
                            '</span>',
                            '<span class="no-wrap">',
                                '<input dojoType="dijit.form.CheckBox" type="checkbox" name="chkFriday" value="fri" id="{%= $.id %}_chkFriday" dojoAttachPoint="_chkFriday" dojoAttachEvent="onClick:_dayChecked" />',
                                '<label for="{%= $.id %}_chkFriday" class="padded-inline-label">{%= $.friText %}</label>',
                            '</span>',
                            '<span class="no-wrap">',
                                '<input dojoType="dijit.form.CheckBox" type="checkbox" name="chkSaturday" value="sat" id="{%= $.id %}_chkSaturday" dojoAttachPoint="_chkSaturday" dojoAttachEvent="onClick:_dayChecked" />',
                                '<label for="{%= $.id %}_chkSaturday" class="padded-inline-label">{%= $.satText %}</label>',
                            '</span>',
                            '<span class="no-wrap">',
                                '<input dojoType="dijit.form.CheckBox" type="checkbox" name="chkSunday" value="sun" id="{%= $.id %}_chkSunday" dojoAttachPoint="_chkSunday" dojoAttachEvent="onClick:_dayChecked" />',
                                '<label for="{%= $.id %}_chkSunday" class="padded-inline-label">{%= $.sunText %}</label>',
                            '</span>',
                        '</div>',
                        '<div>',
                            '<div class="recurring-radio-label" style="min-width:{%= $.labelWidth %}px;">',
                                '<input dojoType="dijit.form.RadioButton" type="radio" name="weeklyEvery" value="weeksAfter" id="{%= $.id %}_rdoWeeklyEveryAfter" dojoAttachPoint="_rdoWeeklyEveryAfter" />',
                                '<label for="{%= $.id %}_rdoWeeklyEveryAfter" class="padded-inline-label">{%= $.everyText %}</label>',
                            '</div>',
                            '<input dojoType="Sage.UI.NumberTextBox" shouldPublishMarkDirty="false" value="1" constraints="{places: 0, type: \'decimal\'}" dojoAttachPoint="_weeklyEveryAfterText" disabled="true" class="small-inline-textbox" dojoAttachEvent="onChange:_calculateEnd" />',
                            '<span class="padded-inline-label">{%= $.weeksAfterText %}</span>',
                        '</div>',
                    '</div>',
//monthly panel.........................................................
                    '<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="_monthlyPanel" class="recurring-panel"  >',
                        '<div>',
                            '<div class="recurring-radio-label" style="min-width:{%= $.labelWidth %}px;">',
                                '<input dojoType="dijit.form.RadioButton" type="radio" name="monthlyOn" value="monthyOn" id="{%= $.id %}_rdoMonthlyOn" checked="true" dojoAttachPoint="_rdoMonthlyOn" dojoAttachEvent="onChange:_monthlyOnChanged" />',
                                '<label for="{%= $.id %}_rdoMonthlyOn" class="padded-inline-label">{%= $.everyText %}</label>',
                            '</div>',
                            '<input dojoType="Sage.UI.NumberTextBox" shouldPublishMarkDirty="false" value="1" constraints="{places: 0, type: \'decimal\'}" dojoAttachPoint="_monthlyEveryText" class="small-inline-textbox" dojoAttachEvent="onChange:_intervalChanged" />',
                            '<span class="padded-inline-label">{%= $.monthsOnText %}</span>',
                            '<select dojoType="dijit.form.Select" dojoAttachPoint="_datesSelect" dojoAttachEvent="onChange:_calculateEnd" maxHeight="300"></select>',
                        '</div>',
                        '<div>',
                            '<div class="recurring-radio-label" style="min-width:{%= $.labelWidth %}px;">',
                                '<input dojoType="dijit.form.RadioButton" type="radio" name="monthlyOn" value="monthyOnThe" id="{%= $.id %}_rdoMonthlyOnThe" dojoAttachPoint="_rdoMonthlyOnThe" />', // dojoAttachEvent="onChange:_monthlyOnChanged"
                                '<label for="{%= $.id %}_rdoMonthlyOnThe" class="padded-inline-label">{%= $.everyText %}</label>',
                            '</div>',
                            '<input dojoType="Sage.UI.NumberTextBox" shouldPublishMarkDirty="false" value="1" constraints="{places: 0, type: \'decimal\'}" dojoAttachPoint="_monthlyOnTheText" disabled="true" class="small-inline-textbox" dojoAttachEvent="onChange:_intervalChanged" />',
                            '<span class="padded-inline-label">{%= $.monthsOnTheText %}</span>',
                            '<select dojoType="dijit.form.Select" dojoAttachPoint="_weeksSelect" disabled="true" dojoAttachEvent="onChange:_calculateEnd"></select>',
                            '<select dojoType="dijit.form.Select" dojoAttachPoint="_weekdaySelect" disabled="true" dojoAttachEvent="onChange:_calculateEnd"></select>',
                        '</div>',
                        '<div>',
                            '<div class="recurring-radio-label" style="min-width:{%= $.labelWidth %}px;">',
                                '<input dojoType="dijit.form.RadioButton" type="radio" name="monthlyOn" value="monthyAfter" id="{%= $.id %}_rdoMonthlyAfter" dojoAttachPoint="_rdoMonthlyAfter" dojoAttachEvent="onChange:_monthlyOnChanged" />',
                                '<label for="{%= $.id %}_rdoMonthlyAfter" class="padded-inline-label">{%= $.everyText %}</label>',
                            '</div>',
                            '<input dojoType="Sage.UI.NumberTextBox" shouldPublishMarkDirty="false" value="1" constraints="{places: 0, type: \'decimal\'}" dojoAttachPoint="_monthlyAfterText" disabled="true" class="small-inline-textbox" dojoAttachEvent="onChange:_calculateEnd" />',
                            '<span class="padded-inline-label">{%= $.monthsAfterText %}</span>',
                        '</div>',
                    '</div>',
// yearly panel..............
                    '<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="_yearlyPanel" class="recurring-panel"  >',
                        '<div>',
                            '<div class="recurring-radio-label" style="min-width:{%= $.labelWidth %}px;">',
                                '<input dojoType="dijit.form.RadioButton" type="radio" name="yearlyOn" value="yearlyOn" id="{%= $.id %}_rdoYearlyOn" checked="true" dojoAttachPoint="_rdoYearlyOn" dojoAttachEvent="onChange:_yearlyOnChanged" />',
                                '<label for="{%= $.id %}_rdoYearlyOn" class="padded-inline-label">{%= $.everyText %}</label>',
                            '</div>',
                            '<input dojoType="Sage.UI.NumberTextBox" shouldPublishMarkDirty="false" value="1" constraints="{places: 0, type: \'decimal\'}" dojoAttachPoint="_yearlyEveryText" class="small-inline-textbox" dojoAttachEvent="onChange:_intervalChanged" />',
                            '<span class="padded-inline-label">{%= $.yearsOnText %}</span>',
                            '<select dojoType="dijit.form.Select" dojoAttachPoint="_monthNamesSelect" dojoAttachEvent="onChange:_yearlyRecurDateChanged"></select>',
                            '<select dojoType="dijit.form.Select" maxHeight="300" dojoAttachPoint="_yearDatesSelect" dojoAttachEvent="onChange:_yearlyRecurDateChanged"></select>',
                        '</div>',
                        '<div>',
                            '<div class="recurring-radio-label" style="min-width:{%= ($.labelWidth - 3) %}px;">',
                                '<input dojoType="dijit.form.RadioButton" type="radio" name="yearlyOn" value="yearlyOnThe" id="{%= $.id %}_rdoYearlyOnThe" dojoAttachPoint="_rdoYearlyOnThe" />',
                                '<label for="{%= $.id %}_rdoYearlyOnThe" class="padded-inline-label">{%= $.theText %}</label>',
                            '</div>',
                            '<select dojoType="dijit.form.Select" dojoAttachPoint="_yearWeeksSelect" disabled="true" dojoAttachEvent="onChange:_yearlyRecurDateChanged"></select>',
                            '<select dojoType="dijit.form.Select" dojoAttachPoint="_yearWeekdaySelect" disabled="true" dojoAttachEvent="onChange:_yearlyRecurDateChanged"></select>',
                            '<label class="padded-inline-label">{%= $.inText %}</label>',
                            '<select dojoType="dijit.form.Select" dojoAttachPoint="_yearMonthNamesSelect" disabled="true" dojoAttachEvent="onChange:_yearlyRecurDateChanged"></select>',
                        '</div>',
                        '<div>',
                            '<div class="recurring-radio-label" style="min-width:{%= $.labelWidth %}px;">',
                                '<input dojoType="dijit.form.RadioButton" type="radio" name="yearlyOn" value="yearlyEveryAfter" id="{%= $.id %}_rdoYearlyEveryAfter" dojoAttachPoint="_rdoYearlyEveryAfter" dojoAttachEvent="onChange:_yearlyOnChanged" />',
                                '<label for="{%= $.id %}_rdoYearlyEveryAfter" class="padded-inline-label">{%= $.everyText %}</label>',
                            '</div>',
                            '<input dojoType="Sage.UI.NumberTextBox" shouldPublishMarkDirty="false" value="1" constraints="{places: 0, type: \'decimal\'}" dojoAttachPoint="_yearlyEveryAfterText" disabled="true" class="small-inline-textbox" dojoAttachEvent="onChange:_calculateEnd" />',
                            '<span class="padded-inline-label">{%= $.yearsAfterText %}</span>',
                            '</div>',
                    '</div>',
                '</div>', //stack container
// End date calculator section.........................................
                '<div dojoAttachPoint="_startEndCalculator" class="display-none">',
                    '<hr />',
                    '<table>',
                        '<tr>',
                            '<td>{%= $.startRecurringText %}</td>',
                            '<td>',
                                '<div dojoType="Sage.UI.Controls.DateTimePicker" shouldPublishMarkDirty="false" id="{%= $.id %}_dtp_StartRecur" value="{%= $.startDate %}" dojoAttachPoint="dtp_startRecur" displayDate="true" displayTime="false" dojoAttachEvent="onChange:_recurringStartDateChanged" readOnly="true" ></div>',
                            '</td>',
                        '</tr>',
                        '<tr>',
                            '<td>',
                                '<input dojoType="dijit.form.RadioButton" type="radio" name="endRecur" value="endAfterNum" id="{%= $.id %}_rdoEndAfterNum" dojoAttachPoint="_rdoEndAfter" dojoAttachEvent="onChange:_endCalcModeChanged" checked="true" />',
                                '<label for="{%= $.id %}_rdoEndAfterNum" class="padded-inline-label">{%= $.endAfterText  %}</label>',
                            '</td><td>',
                                '<input dojoType="Sage.UI.NumberTextBox" shouldPublishMarkDirty="false" value="2" constraints="{places: 0, type: \'decimal\', max: 999, min: 1}" maxlength="3" id="{%= $.id %}_num_Occurances" dojoAttachPoint="num_Occurances" class="small-inline-textbox" dojoAttachEvent="onChange:_numOccurancesChanged" />',
                                '<span class="padded-inline-label">{%= $.occurrencesText %}</span>',
                            '</td>',
                        '</tr><tr>',
                            '<td>',
                                '<input dojoType="dijit.form.RadioButton" type="radio" name="endRecur" value="endOn" id="{%= $.id %}_rdoEndOn" dojoAttachPoint="_rdoEndOn" />',
                                '<label for="{%= $.id %}_rdoEndOn" class="padded-inline-label">{%= $.endOnText %}</label>',
                            '</td>',
                            '<td>',
                                '<div dojoType="Sage.UI.Controls.DateTimePicker" shouldPublishMarkDirty="false" id="{%= $.id %}_dtp_EndRecur" dojoAttachPoint="dtp_endRecur" displayDate="true" displayTime="false" dojoAttachEvent="onChange:_endRecurChanged" ></div>',
                            '</td>',
                        '</tr>',
                    '</table>',
                '</div>',
            '</td>',
        '</tr>',
    '</table>',
'</div>']