[
'<div>',
    '<div>',
        '<label class="wizardsectiontitle boldText padBottom">{%= $.searchOptionsHeader %}',
            '<span class="boldtext">{%= $.configOptions.targetAccount %}</span>',
        '</label>',
        '<br /><br />',
    '</div>',
    '<div>',
        '<label class="wizardsectiontext padBottom" style="padding-left:20px">{%= $.searchOptionsText %}</label>',
    '</div>',
    '<div>',
        '<br />',
        '<label class="slxlabel" style="padding-left:20px">{%= $.propertyText %}</label>',
        '<label class="slxlabel" style="padding-left:136px">{%= $.operatorText %}</label>',
        '<label class="slxlabel" style="padding-left:118px">{%= $.searchText %}</label>',
    '</div>',
    '<div dojoAttachPoint="conditionContainer" style="padding:10px;" id="{%= $.id %}-Condition-container"></div>',
    '<div class="button-bar alignright">',
        '<button dojoType="dijit.form.Button" type="submit" onClick="dijit.byId(\'{%= $.id %}-Dialog\').refineSearchObject.getSelections();">',
            '{%= $.okText %}',
        '</button>',
        '<button dojoType="dijit.form.Button" type="button" onClick="dijit.byId(\'{%= $.id %}-Dialog\').hide();">',
            '{%= $.cancelText %}',
        '</button>',
    '</div>',
'</div>'
]
