/*   Address control styles..............................................................................................  */
.address-control .address-container
{
	position: relative;
}

.address-control .address-container .address-edit-button
{
}

.address-control .address-container .address-map-button
{
	position: absolute;
	top: 18px;
	right: -13px !important;
	right: 0px; /* fix for IE6 */
}

/*   Picklist Control styles..............................................................................................  */
.picklist
{
}

.picklist-multiple
{
}

/* ListDIV */
.picklist-multiple .picklist-container
{
}

/* InnerListDIV */
.picklist-multiple .picklist-inner-container
{
	width: 200px;
	background: white;
	border: solid 1px gray;
    overflow-y: visible;
}

/* Items */
.picklist-multiple .picklist-items
{
	display: block;
	padding: 0px;
	overflow: auto;
	max-height: 200px;
	_height: 200px;
	zoom: 1;
	min-height: 0;
	width: 200px;
}

.picklist-multiple .picklist-items input
{
	border: none 1px black;
	background: inherit;
	margin: 0;
	padding: 0;
}

.picklist-multiple .picklist-items td
{
	padding: 0;
}

/* IFrame */
.picklist-multiple .picklist-iframe
{
	border: none 0px black;
}

/* ListBtnsDIV */
.picklist-multiple .picklist-buttons
{
	display: block;
	margin: 4px 0 0 0;
	padding: 4px;
	border-top: solid 1px gray;
	text-align: right;
}

/* Need to replicate the style of SLX button as it is being */
/* overwritten by .textcontrol input, .textcontrol textarea in quickforms.css. */
.picklist-multiple .picklist-buttons input
{
	background-color:#E1E1DC;
	border:1px solid #7E9CB8;
	color:#000000;
	cursor:pointer;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:normal;
	margin: 0;
	padding: 0;
	width: auto;	
}

/*  Sage.UI.Controls.Select styles................................................................................... */

.select-control 
{
	
}

/*   SlxGridView styles..............................................................................................  */
.slxgridrowcollapse 
{
	width : 20px;
	min-width : 20px;
	cursor : pointer;
	font-size : 26px;
}

.slxgridrowexpand 
{
	width : 20px;
	min-width : 20px;
	cursor : pointer;
	font-size : 26px;
}
table.datagrid th.slxgridrowexpand
{	
	background: #ffffff url(../images/icons/Show_Details_active_16x16.gif) no-repeat scroll center center;	
}

table.datagrid th.slxgridrowcollapse
{
	background: #ffffff url(../images/icons/Hide_Details_active_16x16.gif) no-repeat scroll center center;	
}
.slxgridrowexpandnoicon
{
	width : 20px;
	min-width : 20px;
	cursor : pointer;
	font-size : 26px;
	background-image: none;
}

.datagrid TD DIV.cellcontents
{
	overflow : hidden;
	/*height: 17px;*/
}


.datagrid TH
{
	padding : 0px;
	overflow : hidden;
}

.headercontents 
{
	text-indent : 8px; 	
	padding : .25em 0em;
	top : 0px;
	left : 0px;
	width : 100%;
	display : block;
	height : 14px;
	white-space : nowrap;
	overflow : hidden;
}
/* Summary view styles  */
.SummaryView
{
}
.EntityCard
{
    padding: 10px 20px;
    background-color: White;
}
.EntityCard table
{
    white-space: normal;
}    
.SummaryTitle
{
    font-size: 15px;
    font-weight: bold;
    color: #000;
    padding-bottom: 4px;
    text-align: left;
}
.SummaryIcon
{
  vertical-align:middle;
}
.SummaryTitleButton
{
    font-size: 12px;
    font-weight: normal;   
}
.SummaryCaption
{
    color: #4d4d4d;
    width: 120px;
    text-align: right;
}

.SummaryTextArea
{
    font: inherit;
    min-width: 15em;
    width: 800px;
}

.DataItem 
{
    display : inline;
    padding-left : 4px;
}

.DataColumn > ul
{
	padding-left: 5px;
}

.DataItem,
.DataColumn,
.SummaryCaption
{
    vertical-align: text-top;
}

.SummaryCol1 
{
     width : 180px;
}
.SummaryCol2 
{
    width : 320px;
}
.SummaryCol3 
{
}
.SummaryChildrenTableBox 
{
}
.SummaryChildrenTableCell 
{
    padding : 0px 8px;
}
.hasWindow 
{
    color:#0000cc;
    text-decoration:underline;
    cursor : pointer;
    display : inline;
}
.SummaryFooter
{
	overflow: hidden;
	text-overflow: elipsis;
	white-space: nowrap;
}
/*  Filters Tasklet styles................  */

.filter-tasklet .task-pane-item-bwrap
{
	padding: 0px 0px 0px 0px;
}    
.filter-list
{
	margin: 4px;
}
.filter-item a
{
	cursor: pointer;
}
.filter-item .filter-expand
{  
	width: 1.5em;    
}     
.filter-item
{
	line-height: 1.4em;
}
.display-none
{
	display: none;
}
.filter-no-items
{
	display: none;
}
.filter-item li
{
	line-height: 1.4em;    	
}
.filter-item ul
{
	display: none;
	padding: 0 0 0 1.5em;
}   
.filter-item .loading-indicator
{
	display: none;
    	margin-left: .5em;
}
.filter-item-expanded ul
{
	display: block;
}   
.filter-item-expanded .loading-indicator
{
	display: block;
}
.filter-item-hidden
{
	display: none;
}   
.filter-items 
{
	white-space:nowrap;
}
.filter-value
{
	white-space: nowrap;    	
    zoom: 1;
}

.filter-value div
{
    line-height: 1.4em;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.filter-value span
{
	white-space: nowrap;    	
    _white-space: normal;
	padding: 0 0 0 0.25em;
}
.filter-value-name 
{
    	margin-left: .5em;
}
.filter-value-count
{
	color: #bbbbbb;
}
.edit-filters-dialog .x-window-mc
{
	background: #ffffff;
}    
.edit-filters-dialog .x-window-mc
{
	font-size: inherit;
}
.edit-filters-dialog h1
{
	font-size: 13px;
	margin: 0 0 1em 0;
	font-weight: bold;
}
.edit-filters-list
{
	margin: 0 1em 0 1em;
}
.edit-filters-list li
{
	line-height: 1.4em;
}
.edit-filters-list li span
{
	margin: 0 0 0 .25em;
}
.filter-commands
{
	padding: 1em 0 0 0;
}
.filter-commands a
{
	cursor: pointer;
}
.LookupFilter, .RangeFilter, .DistinctFilter
{
	font-size: 12px;
	margin-bottom: .5em;
}
.LookupFilter > DIV, .RangeFilter > DIV, .DistinctFilter > DIV
{
    	margin-left: .5em;
}
#FilterWindow input, #FilterWindow select
{
	margin-left: .5em;
}
/* end of filters tasklet styles     */

/* Support for reminder toolbar button highlighting */

.x-btn-highlight .x-btn-left{background:url(../images/btn-sprite2.gif) no-repeat 0 -63px;}
.x-btn-highlight .x-btn-right{background:url(../images/btn-sprite2.gif) no-repeat 0 -84px;}
.x-btn-highlight .x-btn-center{background:url(../images/btn-sprite2.gif) repeat-x 0 -126px;}

