if (DialogService != null)
{
  // InsertChildDialogActionItem
#if(${action.CenterDialog} == true)
  DialogService.SetSpecs(${action.Height}, ${action.Width}, "${action.SmartPart}",#if($action.TitleOverride != "") GetLocalResourceObject("${action.ResourceKey}.DialogTitleOverride").ToString() #else string.Empty #end);
#else
  DialogService.SetSpecs(${action.Top}, ${action.Left}, ${action.Height}, ${action.Width}, "${action.SmartPart}",#if($action.TitleOverride != "") GetLocalResourceObject("${action.ResourceKey}.DialogTitleOverride").ToString() #else string.Empty #end, "false");
#end
  DialogService.EntityType = typeof(${action.GetQualifiedEntityType}); 
  DialogService.SetChildIsertInfo(
    typeof(${action.GetQualifiedEntityType}),
    typeof(${entitytypename}),
    typeof(${action.GetQualifiedEntityType}).GetProperty("${action.ParentRelationshipPropertyName}"),
    typeof(${entitytypename}).GetProperty("${action.ParentsCollectionPropertyName}"));
  DialogService.ShowDialog();
}
#set ($refreshData = $generator.getControlRefreshData($qfcontrol))
#if ($refreshData ==  true)
  Sage.Platform.WebPortal.Services.IPanelRefreshService refresher = PageWorkItem.Services.Get<Sage.Platform.WebPortal.Services.IPanelRefreshService>();
    if (refresher != null) {
      refresher.RefreshAll();
    }
    else {  
      Response.Redirect(Request.Url.ToString());
    }
#end