#if(${action.MessageText} == "")
  Sage.Platform.WebPortal.SmartParts.WebActionEventArgs args = e as Sage.Platform.WebPortal.SmartParts.WebActionEventArgs;
  if (args != null && !string.IsNullOrEmpty(args.PassThroughObject.ToString()) && DialogService != null) {
    DialogService.ShowMessage(args.PassThroughObject.ToString());
  } 
#else
  if (DialogService != null) {
    DialogService.ShowMessage(base.GetLocalResourceObject("${action.ResourceKey}.Message").ToString()#if($action.Title != ""), base.GetLocalResourceObject("${action.ResourceKey}.Title").ToString()#end);
  }
#end
#set ($refreshData = $generator.getControlRefreshData($qfcontrol))
#if ($refreshData ==  true)
  Sage.Platform.WebPortal.Services.IPanelRefreshService refresher = PageWorkItem.Services.Get<Sage.Platform.WebPortal.Services.IPanelRefreshService>();
    if (refresher != null) {
      refresher.RefreshAll();
    }
    else {  
      Response.Redirect(Request.Url.ToString());
    }
#end