<div class="slxlabel #if(${qfcontrol.CaptionAlignment} == "right") alignright#elseif(${qfcontrol.CaptionAlignment} == "center") aligncenter#else alignleft#end #if($qfcontrol.ControlLabelPlacement == "left")checkboxRight#else checkbox #end">

  <SalesLogix:SLXCheckBox runat="server" ID="${qfcontrol.ControlId}" #if($qfcontrol.Caption != "") Text="<%$ resources: ${qfcontrol.ControlId}.Caption %>" #end CssClass="#if($qfcontrol.StyleScheme != "") ${qfcontrol.StyleScheme}#end"
#if(($qfcontrol.IsReadOnly) || (!$qfcontrol.Enabled))Enabled="false" #end
#if($qfcontrol.ToolTip != "") ToolTip="<%$ resources: ${qfcontrol.ControlId}.ToolTip %>" #end
#if($qfcontrol.TabIndex > 0)TabIndex="$qfcontrol.TabIndex" #end
#if($qfcontrol.HotKey != "")AccessKey="$qfcontrol.HotKey" #end
#if(!$qfcontrol.Visible)Visible="false" #end
#if($qfcontrol.ControlLabelPlacement != "")LabelPlacement="$qfcontrol.ControlLabelPlacement" #end
#if($qfcontrol.HasActionCode)AutoPostBack="true" #end />
</div>