#macro(computewidth)
#set($mply = $qfcontrol.ColumnSpan)#foreach($panel in $qfcontrol.Tabs)#if($panel.Columns.Count > $mply)#set($mply = $panel.Columns.Count)#end#end
#set($wdth = $mply * 300)${wdth}px;#end
<div style="height: 100%;width: 100%">
	<div data-dojo-type="dijit.layout.BorderContainer" style="height: 200px;width: #computewidth()" gutters="false"  >
	<SalesLogix:TabControl data-dojo-type="Sage.Layout.TabContainer" data-dojo-props="tabStrip: false" id="${qfcontrol.ControlId}" runat="server" #if(!$qfcontrol.Enabled)Enabled="false" #end
	 #if(!$qfcontrol.Visible)Visible="false" #end
	#if($qfcontrol.StyleScheme != "") CssClass="$qfcontrol.StyleScheme" #end
	  >
	  <Panels>
		#foreach($panel in $qfcontrol.Tabs)$pagegenerator.parseControl($panel)#end
	  </Panels>
	</SalesLogix:TabControl>
</div>
