[
  '<table style="width:100%">',
  '    <col style="width:33%" />',
  '    <col style="width:33%" />',
  '    <col style="width:33%" />',
  '    <thead><tr><th colspan="3">',
  '        <div class="SummaryTitle">',
  '            <div class="Global_Images icon24x24 icon_Schedule_Literature_Request_24x24" > </div>&nbsp;&nbsp;',
  '            <a href="LitRequest.aspx?entityid=\'{%= $.entity.id %}\'" >{%= Sage.Utility.htmlEncode($.entity.Description) %} </a>',
  '        </div>',
  '        </th></tr></thead>',
  '    <tbody>',
  '        <tr>',
  '            <td class="DataColumn">',
  '                <table>',
  '                    <tr id="{%= $.id %}_LitRequestSummary_dtpRequestDate">',
  '                       <td class="SummaryCaption">{%= $.txtRequestDate_Caption || "Requested:" %}</td>',
  '                       <td class="DataItem">{%= ($.entity.RequestDate) ? dojo.date.locale.format(Sage.Utility.Convert.toDateFromString($.entity.RequestDate), {selector: "date"}) : "" %}</td>',
  '                    </tr>',
  '                    <tr id="{%= $.id %}_LitRequestSummary_txtRequestedBy">',
  '                        <td class="SummaryCaption">{%= $.txtRequestedBy_Caption || "Requested By:" %}</td>',
  '                        <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.RequestUserName) %}</td>',
  '                    </tr>',
  '                    <tr id="{%= $.id %}_LitRequestSummary_dtpSendDate">',
  '                        <td class="SummaryCaption">{%= $.txtSendDate_Caption || "Send Date:" %}</td>',
  '                        <td class="DataItem">{%= ($.entity.SendDate) ? dojo.date.locale.format(Sage.Utility.Convert.toDateFromString($.entity.SendDate), {selector: "date"}) : "" %}</td>',
  '                    </tr>',
  '                    <tr id="{%= $.id %}_LitRequestSummary_dtpScheduled">',
  '                        <td class="SummaryCaption">{%= $.txtScheduled_Caption || "Scheduled:" %}</td>',
  '                        <td class="DataItem">{%= ($.entity.FillDate) ? dojo.date.locale.format(Sage.Utility.Convert.toDateFromString($.entity.FillDate), {selector: "date"}) : "" %}</td>',
  '                    </tr>',
  '                    <tr id="{%= $.id %}_LitRequestSummary_txtStatus">',
  '                        <td class="SummaryCaption">{%= $.txtStatus_Caption || "Status:" %}</td>',
  '                        <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.FillStatus) %}</td>',
  '                   </tr>',
  '               </table>',
  '           </td>',
  '           <td class="DataColumn">',
  '               <table>',
  '                  <tr id="{%= $.id %}_LitRequestSummary_linkAccount">',
  '                      <td class="SummaryCaption">{%= $.lnkAccount_Caption || "Account:"  %}</td>',
  '                      <td class="DataItem"><a href="Account.aspx?entityid={%= $.entity.AccountId %}" >{%= Sage.Utility.htmlEncode($.entity.AccountName) %}</a></td>',
  '                  </tr>',
  '                  <tr id="{%= $.id %}_LitRequestSummary_linkContact">',
  '                      <td class="SummaryCaption">{%= $.lnkContact_Caption || "Contact" %}</td>',
  '                      <td class="DataItem"><a href="Contact.aspx?entityid={%= $.entity.ContactId %}" >{%= Sage.Utility.htmlEncode($.entity.ContactName) %}</a></td>',
  '                  </tr>',
  '                  <tr id="{%= $.id %}_LitRequestSummary_slxPhone">',
  '                      <td class="SummaryCaption">{%= $.txtWorkPhone_Caption || "Work Phone:" %}</td>',
  '                      <td class="DataItem">{%= Sage.Format.phone($.entity.WorkPhone) %}</td>',
  '                  </tr>',
  '                  <tr id="{%= $.id %}_LitRequestSummary_slxHomePhone">',
  '                      <td class="SummaryCaption">{%= $.txtHomePhone_Caption || "Home Phone:" %}</td>',
  '                      <td class="DataItem">{%= Sage.Format.phone($.entity.HomePhone) %}</td>',
  '                  </tr>',
  '                  <tr id="{%= $.id %}_LitRequestSummary_txtPostalCode">',
  '                      <td class="SummaryCaption">{%= $.txtPostalCode_Caption || "Postal Code:" %}</td>',
  '                      <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.PostalCode) %}</td>',
  '                  </tr>',
  '              </table>',
  '          </td>',
  '          <td class="DataColumn">',
  '              <table>',
  '                 <tr id="{%= $.id %}_LitRequestSummary_txtPriority">',
  '                     <td class="SummaryCaption">{%= $.txtPriority_Caption || "Prority:" %}</td>',
  '                     <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.Priority) %}</td>',
  '                 </tr>',
  '                 <tr id="{%= $.id %}_LitRequestSummary_txtVia">',
  '                     <td class="SummaryCaption">{%= $.txtVia_Caption || "Send Via:" %}</td>',
  '                     <td class="DataItem">{%= Sage.Utility.htmlEncode($.entity.SendVia) %}</td>',
  '                 </tr>',
  '                <tr id="{%= $.id %}_LitRequestSummary_txtCost">',
  '                    <td class="SummaryCaption">{%= $.txtCost_Caption || "Cost:" %}</td>',
  '                    <td class="DataItem">{%= ($.entity.TotalCost) ? dojo.currency.format($.entity.TotalCost, { currency: [Sys.CultureInfo.CurrentCulture.numberFormat.CurrencySymbol], locale: Sys.CultureInfo.CurrentCulture.name, places: this.decimalDigit }) : "" %}</td>',
  '                </tr>',
  '            </table>',
  '         </td>',
  '     </tr>',
  '  </tbody>',
  '</table>'
]