 [
    '<div>',
        '<div data-dojo-type="dijit.Dialog" id="{%= $.id%}_dlgOpportunityStatistics" title="{%= $.opportunityStatistics_Caption %}" dojoAttachPoint="_dialog" dojoAttachEvent="onCancel:_close">',
            '<div dojoAttachPoint="loadingContainer">',
                '<br />',
                '<label class="wizardsectiontitle boldText padBottom" style="padding-left:20px">{%= $.loadingMessge %}</label>',
                '<br />',
                '<br />',
            '</div>',
            '<table cellspacing="20" dojoAttachPoint="statisticsContentsContainer" class="display-none">',
                '<tr>',
                    '<td >',
                        '<label>{%= $.opportunityCount %}</label>',
                    '</td>',
                    '<td>',
                        '<label dojoAttachPoint="opportunityCount"></label>',
                    '</td>',
                '</tr>',
                '<tr>',
                    '<td>',
                        '<label>{%= $.salesPotentialTotal %}</label>',
                    '</td>',
                    '<td>',
                        '<div id="salesPotential" dojoAttachPoint="salesPotentialTotal_Container" disabled="disabled"></div>',
                    '</td>',
                    '<td>',
                        '<div id="salesPotentialAverage" dojoAttachPoint="salesPotentialAverage_Container" disabled="disabled"></div>',
                    '</td>',
                '</tr>',
                '<tr>',
                    '<td>',
                        '<label>{%= $.weightedPotentialTotal %}</label>',
                    '</td>',
                    '<td>',
                        '<div id="weightedPotential" dojoAttachPoint="weightedPotentialTotal_Container" disabled="disabled"></div>',
                    '</td>',
                    '<td>',
                        '<div id="weightedPotentialAverage" dojoAttachPoint="weightedPotentialAverage_Container" disabled="disabled"></div>',
                    '</td>',
                '</tr>',
                '<tr>',
                    '<td>',
                        '<label>{%= $.averageCloseProbability %}</label>',
                    '</td>',
                    '<td>',
                        '<div dojoType="Sage.UI.Controls.Numeric" constraints="{ places: 2, maxPlaces: 2, type: \'percent\' }" dojoAttachPoint="closeProbability_Container" readonly="readonly"></div>',
                    '</td>',
                '</tr>',
                '<tr>',
                    '<td>',
                        '<label>{%= $.actualAmountTotal %}</label>',
                    '</td>',
                    '<td>',
                        '<div id="actualAmount" dojoAttachPoint="actualAmountTotal_Container" disabled="disabled"></div>',
                    '</td>',
                    '<td>',
                        '<div id="actualAmountAverage" dojoAttachPoint="actualAmountAverage_Container" disabled="disabled"></div>',
                    '</td>',
                '</tr>',
                '<tr>',
                    '<td>',
                        '<label>{%= $.averageDaysOpen %}</label>',
                    '</td>',
                    '<td>',
                        '<label dojoAttachPoint="daysOpen_Container"></label>',
                    '</td>',
                '</tr>',
                '<tr>',
                    '<td>',
                        '<label>{%= $.rangeEstClose %}</label>',
                    '</td>',
                    '<td>',
                        '<label dojoAttachPoint="rangeEstClose_Container"></label>',
                    '</td>',
                '</tr>',
            '</table>',
            '<div class="button-bar alignright">',
                '<button dojoType="dijit.form.Button" id="{%= $.id%}_btn_Cancel" type="button" dojoAttachEvent="onClick:_close">{%= $.btnClose_Caption %}</button>',
            '</div>',
        '</div>',
    '</div>'
]