[
'<div>',
    '<div data-dojo-type="dijit.Dialog" title="{%= $.updateMultipleOpps_Caption %}" dojoAttachPoint="_dialog" dojoAttachEvent="onCancel:_close">',
        '<div data-dojo-type="dijit.form.Form" id="{%= $.id %}_frmUpdateMultipleOpps">',
            '<table cellspacing="20">',
                '<tr>',
                    '<td>',
                        '<label>{%= $.update_Property_Caption %}</label>',
                    '</td>',
                    '<td>',
                        '<select title="{%= $.update_Property_Caption %}" labelWidth="20" name="{%= $.id %}_PropertyName" dojoAttachPoint="propertyNameSelect" dojoAttachEvent="onChange:_propertyChanged" data-dojo-type="dijit.form.Select" style="width:150px">',
                            '{% for (var i=0; i < $._updateableProperties.length;i++) { %}',
                                '<option value="{%= $._updateableProperties[i].propertyName %}" {% if ($.selectedFieldIndex == i ) { %} selected {% } %} >{%= $._updateableProperties[i].propertyDisplayName %}</option>',
                            '{% } %}',
                        '</select>',
                    '</td>',
                    '<td>',
                        '<div id="divUpdateOppsTolbl" dojoAttachPoint="divUpdateOppsTolbl" class="display-none">',
                            '<label>{%= $.update_To_Caption %}</label>',
                        '</div>',
                    '</td>',
                    '<td>',
                        '<div dojoAttachPoint="divAcctMgrContainer">',
                            '<div data-dojo-type="dijit.layout.ContentPane" label="{%= $.update_To_Caption %}" id="{%= $.id %}_luAccountMgr" dojoAttachPoint="accountMgr_Container" allowClearingResult="false" class="removePadding"></div>',
                        '</div>',
                        '<div dojoAttachPoint="divCloseProbContainer" class="display-none">',
                            '<select id="{%= $.id %}_pkl_CloseProbability" PickListName="Opportunity Probability" label="{%= $.update_To_Caption %}" id="{%= $.id %}_pkl_CloseProbability" data-dojo-type="Sage.UI.Controls.SingleSelectPickList" dojoAttachPoint="pkl_CloseProbability" canEditText="false" itemMustExist="true"></select>',
                        '</div>',
                        '<div data-dojo-type="dojox.layout.TableContainer" dojoAttachPoint="divForecastContainer" orientation="horiz" cols="2" labelWidth="2" baseClass="display-none">',
                            '<input data-dojo-type="dijit.form.RadioButton" type="radio" name="addToForecast" label="{%= $.addToForecast_Yes %}" value="yesForecast" id="{%= $.id %}_rdgYesForecast" dojoAttachPoint="rdoYesForecast" checked="true" />',
                            '<input data-dojo-type="dijit.form.RadioButton" type="radio" name="addToForecast" label="{%= $.addToForecast_No %}" value="noForecast" id="{%= $.id %}_rdgNoForecast" />',
                        '</div>',
                        '<div data-dojo-type="dojox.layout.TableContainer" orientation="horiz" cols="2" labelWidth="2" dojoAttachPoint="divEstCloseContainer" baseClass="display-none">',
                            '<input data-dojo-type="dijit.form.RadioButton" type="radio" name="estimatedClose" id="{%= $.id %}_rdgEstClose" checked="true" label="{%= $.estimatedClose_To %}" value="estimatedClose" dojoAttachPoint="rdoEstClose" dojoAttachEvent="onChange:estimatedCloseDateChange" />',
                            '<input data-dojo-type="dijit.form.RadioButton" type="radio" name="estimatedClose" value="move" id="{%= $.id %}_rdgEstMove" label="{%= $.estimatedClose_MoveOut %}" />',
                        '</div>',
                        '<div dojoAttachPoint="divCommentsContainer" class="display-none">',
                            '<textarea data-dojo-type="dijit.form.SimpleTextarea" id="{%= $.id %}_txtComments" dojoAttachPoint="txtComments" style="font-size: 85%"></textarea>',
                        '</div>',
                    '</td>',
                '</tr>',
                '<tr>',
                    '<td></td>',
                    '<td></td>',
                    '<td></td>',
                    '<td>',
                        '<div id="divEstCloseDateContainer" class="display-none" dojoAttachPoint="divEstCloseDateContainer">',
                            '<div data-dojo-type="Sage.UI.Controls.DateTimePicker" id="{%= $.id %}_dtpEstCloseDate" displayDate="true" displayTime="false" dojoAttachPoint="dtpEstCloseDate"></div>',
                        '</div>',
                        '<div id="divMoveEstimatedCloseContainer" class="display-none" dojoAttachPoint="divMoveEstimatedCloseContainer">',
                            '<select data-dojo-type="dijit.form.Select" name="moveEstCloseDate" id="{%= $.id %}_moveEstCloseDateList" dojoAttachPoint="moveEstCloseDateList">',
                                '<option value="Forward">{%= $.moveEstCloseDate_Forward %}</option>',
                                '<option value="Backward">{%= $.moveEstCloseDate_Backward %}</option>',
                            '</select>',
                            '<div data-dojo-type="dijit.form.TextBox" labelWidth="20" dojoAttachPoint="daysToMove"></div>&nbsp',
                            '<label>{%= $.estimatedClose_Days %}</label>',
                        '</div>',
                    '</td>',
                '</tr>',
            '</table>',
            '<div class="button-bar" align="right">',
                '<div data-dojo-type="dijit.form.Button" id="{%= $.id%}_btn_OK" name="btn_OK" dojoAttachPoint="btn_OK" dojoAttachEvent="onClick:_okClick">{%= $.btnOK_Caption %}</div>',
                '<div data-dojo-type="dijit.form.Button" id="{%= $.id%}_btn_Cancel" name="btn_Cancel" dojoAttachPoint="btn_Cancel" dojoAttachEvent="onClick:_close">{%= $.btnCancel_Caption %}</div>',
            '</div>',
        '</div>',
    '</div>',
'</div>'
]
