<?xml version="1.0"?>
<appSettings>
  <add key="CrystalImageCleaner-AutoStart" value="true" />
  <add key="CrystalImageCleaner-Sleep" value="60000" />
  <add key="CrystalImageCleaner-Age" value="120000" />
  <add key="MaxLogLevel" value="1" />
  <add key="RasHostName" value="" />
  <add key="RasPort" value="" />
  <add key="SetReportAppServer" value="true" />
  <add key="log4net.Config" value="log4net.Config" />
</appSettings>

