[
'<div>',
    '<div dojoType="dijit.Dialog" id="uploadFileDialog" title="{%= $.attachFileText %}" dojoAttachPoint="_dialog" dojoAttachEvent="onHide:_onHide">',
        '<iframe src="about:blank" style="width:0px;height:0px;border-width:0px;" name="{%= $._iframeId %}" id="{%= $._iframeId %}" dojoAttachPoint="_iframe" dojoAttachEvent="onload:_iframeLoad"></iframe>',
        '<form method="post" enctype="multipart/form-data" action="{%= $._buildPostUrl() %}" target="{%= $._iframeId %}" dojoAttachPoint="_postForm" class="attachment-properties-form">',
            '<div dojoType="dojox.layout.TableContainer" orientation="horiz" cols="1" labelWidth="160">',
                '<div data-dojo-type="dijit.layout.ContentPane" label="{%= $.uploadFileText %}" >',
                    '<input name="file" multiple="false" type="file" dojoAttachEvent="onchange:_onNewFile" dojoAttachPoint="btn_FileSelect" class="uploadButton" />',
                '</div>',
                 '<div dojoType="dijit.form.TextBox" label="{%= $.descriptionText %}" name="description" id="{%= $.id %}_tb_Description" dojoAttachPoint="tb_Description" maxlength="128" ></div>',
                 '<input type="hidden" dojoType="dijit.form.TextBox" name="fileName" id="{%= $.id %}_tb_realFileName" dojoAttachPoint="tb_realFileName" maxlength="255" />',
            '</div>',
            '<div class="general-dialog-actions" align="right">',
                '<div data-dojo-type="dijit.form.Button" id="{%= $.id %}_btn_OK" name="btn_OK" dojoAttachPoint="btn_OK" dojoAttachEvent="onClick:_okClick">{%= $.okText %}</div>',
                '<span>&nbsp;&nbsp</span>',
                '<div data-dojo-type="dijit.form.Button" id="{%= $.id %}_btn_Cancel" name="btn_Cancel" dojoAttachPoint="btn_Cancel" dojoAttachEvent="onClick:_cancelClick">{%= $.cancelText %}</div>',
            '</div>',
            '<input type="hidden" name="dataType" value="R" />',
            '<input type="hidden" name="attachDate" dojoAttachPoint="_attachDate"/>',
            '<input type="hidden" name="accountId" dojoAttachPoint="_accountId"/>',
            '<input type="hidden" name="activityId" dojoAttachPoint="_activityId" />',
            '<input type="hidden" name="contactId" dojoAttachPoint="_contactId" />',
            '<input type="hidden" name="contractId" dojoAttachPoint="_contractId" />',
            '<input type="hidden" name="defectId" dojoAttachPoint="_defectId" />',
            '<input type="hidden" name="historyId" dojoAttachPoint="_historyId" />',
            '<input type="hidden" name="leadId" dojoAttachPoint="_leadId" />',
            '<input type="hidden" name="opportunityId" dojoAttachPoint="_opportunityId" />',
            '<input type="hidden" name="productId" dojoAttachPoint="_productId" />',
            '<input type="hidden" name="returnId" dojoAttachPoint="_returnId" />',
            '<input type="hidden" name="salesOrderId" dojoAttachPoint="_salesOrderId" />',
            '<input type="hidden" name="ticketId" dojoAttachPoint="_ticketId" />',
            '<input type="hidden" name="userId" dojoAttachPoint="_userId" />',
        '</form>',
    '</div>',
'</div>'
]