<log4net threshold="ALL">
  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
    <applicationName value="Unnamed Service Portal" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="WARN" />
    <appender-ref ref="EventLogAppender" />
  </root>

  <!-- Change the following logger level to INFO if you wish to log all NHibernate queries to the application event log -->
  <logger name="NHibernate">
    <level value="OFF" />
  </logger>

  <logger name="Intellisync">
    <level value="ALL" />
  </logger>

</log4net>