<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="log4net.Config" value="log4net.Config" />
  <add key="nhibernate-logger" value="Sage.Platform.Log4NetLoggerFactory, Sage.Platform"/>
  <!--
    Change the caching provider to the Memcached for distributed caching (specifically for the Virtual File System).
    This is critical for a web farm environment, as the HashtableCacheProvider is for a single process.
  -->
  <!--<add key="sage.platform.application.caching.cacheProvider" value="Sage.Platform.Application.Caching.HashtableCacheProvider, Sage.Platform.Application"/>-->
  <add key="sage.platform.application.caching.cacheProvider" value="Sage.Platform.Caches.Memcached.CacheProvider, Sage.Platform.Caches.Memcached"/>
  <!--
    Determines how much logging information is recorded in the Application event log when the
    SalesLogix Error Id is recorded along with exception details.

    0 = General. Best when log file size is a consideration.
    
    Includes: slxErrorId, mitigation, date, utc, message, source, type, stackTrace, targetSite, hashCode, pid, identity.name,
    identity.isAuthenticated, identity.authenticationType, request.looksLikeAjax, request.isLocal, request.method,
    request.url, request.referrer and other exception details for specific exceptions types (e.g. oledbException,
    webException, httpException, etc.).
    
    1 = Detailed.
    
    Includes: All of the above plus request.ipAddress, request.userAgent, request.userLanguages, browser.type,
    browser.name, browser.version, browser.majorVersion, browser.minorVersion, browser.platform, server.machineName,
    server.commandLine, server.versionString, server.is64BitOperatingSystem, host.siteName, host.applicationPhysicalPath,
    host.applicationVirtualPath, host.isDebuggingEnabled, host.isHosted, host.maxConcurrentRequestsPerCPU,
    host.maxConcurrentThreadsPerCPU, host.applicationId, logonUser.name, logonUser.authenticationType,
    logonUser.impersonationLevel, logonUser.isAnyonymous, logonUser.isGuest, and logonUser.isSystem.
    
    2 = Verbose. Best for capturing details to be sent to Sage for analysis along with crash dumps (if applicable).
    
    Includes: All of the above plus process.sessionId, process.fileName, process.fileVersion,
    process.productVersion, process.basePriority, process.priorityClass, times.startTime, times.upTime,
    times.privilegedProcessorTime, times.totalProcessorTime, times.userProcessorTime, memory.maxWorkingSet,
    memory.minWorkingSet, memory.workingSet64, memory.peakWorkingSet64, memory.nonpagedSystemMemorySize64,
    memory.pagedMemorySize64, memory.pagedSystemMemorySize64, memory.peakPagedMemorySize64, memory.peakVirtualMemorySize64,
    memory.privateMemorySize64, memory.virtualMemorySize64, and memory.managedMemorySize.
    -->
  <add key="sage.platform.diagnostics.errorHelper-logLevel" value="1" />  
  <add key="sage.scheduling.client.serverUrl" value="http://localhost:1895"/>
  <add key="sage.platform.scheduling.sdata.tenantId" value="SlxJobService"/>
</appSettings>

