[
'<div>',
    '<div dojoType="dijit.Dialog" id="{%= $.id%}_customerPaymentsDetailsDialog" title="{%= $.dialogCaption %}" dojoAttachPoint="_dialog" dojoAttachEvent="onHide:hideDetailsDialog">',
        '<table cellspacing="5">',
            '<tr>',
                '<td>',
                    '<label for="PaymentDetails_reference">{%= $.lblReferenceCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_reference" name="reference" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
                '<td>',
                    '<label for="PaymentDetails_date">{%= $.lblDateCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_date" name="date" readonly="readonly" dojoType="Sage.UI.DateTextBox" />',
                '</td>',
            '</tr>',
            '<tr>',
                '<td>',
                    '<label for="PaymentDetails_processDate">{%= $.lblProcessDateCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_processDate" name="processDate" readonly="readonly" dojoType="Sage.UI.DateTextBox" />',
                '</td>',
                '<td>',
                    '<label for="PaymentDetails_name">{%= $.lblNameCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_name" name="name" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
            '</tr>',
            '<tr>',
                '<td>',
                    '<label for="PaymentDetails_type">{%= $.lblTypeCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_type" name="type" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
                '<td>',
                    '<label for="PaymentDetails_status">{%= $.lblStatusCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_status" name="status" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
            '</tr>',
            '<tr>',
                '<td>',
                    '<label for="PaymentDetails_currency">{%= $.lblCurrencyCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_currency" name="currency" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
                '<td>',
                    '<label for="PaymentDetails_tenderType">{%= $.lblTenderTypeCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_tenderType" name="tenderType" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
            '</tr>',
            '<tr>',
                '<td>',
                    '<label for="PaymentDetails_tenderReference">{%= $.lblTenderReferenceCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_tenderReference" name="tenderReference" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
                '<td>',
                    '<label for="PaymentDetails_discountTotal">{%= $.lblDiscountsCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_discountTotal" name="discountTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
            '</tr>',
            '<tr>',
                '<td>',
                    '<label for="PaymentDetails_netTotal">{%= $.lblNetTotalCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_netTotal" name="netTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
                '<td>',
                    '<label for="PaymentDetails_taxTotal">{%= $.lblTaxesCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_taxTotal" name="taxTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
            '</tr>',
            '<tr>',
                '<td>',
                    '<label for="PaymentDetails_chargesTotal">{%= $.lblChargesCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_chargesTotal" name="chargesTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
                '<td>',
                    '<label for="PaymentDetails_taxCode">{%= $.lblTaxCodeCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_taxCode" name="taxCode" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
            '</tr>',
            '<tr>',
                '<td>',
                    '<label for="PaymentDetails_grossTotal">{%= $.lblGrossTotalCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_grossTotal" name="grossTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
                '<td>',
                    '<label for="PaymentDetails_source">{%= $.lblSourceCaption %}</label>',
                '</td>',
                '<td>',
                    '<input type="text" id="{%= $.id%}_source" name="source" readonly="readonly" dojoType="dijit.form.TextBox" />',
                '</td>',
            '</tr>',
        '</table>',
        '<div class="button-bar alignright">',
            '<button dojoType="dijit.form.Button" id="{%= $.id%}_paymentBtnClose" type="button" dojoAttachEvent="onClick:hideDetailsDialog">{%= $.btnCloseCaption %}</button>',
        '</div>',
    '</div>',
'</div>'
]