[
'<div>',
    '<div dojoType="dijit.Dialog" id="{%= $.id%}_invoiceDetailsDialog" title="{%= $.dialogCaption %}" dojoAttachPoint="_dialog" dojoAttachEvent="onHide:hideDetailsDialog">',
        '<div dojoAttachPoint="loadingContainer">',
            '<br />',
            '<label class="wizardsectiontitle boldText padBottom" style="padding-left:20px">{%= $.loadingText %}</label>',
            '<br />',
            '<br />',
        '</div>',
        '<div dojoAttachPoint="invoiceDialogContent" class="display-none">',
            '<div dojoType="dojox.layout.TableContainer" orientation="horiz" cols="2">',
                 '<input dojoType="dijit.form.TextBox" name="reference" id="{%= $.id%}_reference" label="{%= $.lblInvoiceCaption %}" readonly="true" />',
                 '<input dojoType="dijit.form.TextBox" name="grossTotal" id="{%= $.id%}_grossTotal" label="{%= $.lblNetTotalCaption %}" readonly="readonly" />',
            '</div >',
            '<div style="height:350px;width:800px">',
                '<div id="{%= $.id%}_invoiceTabContainer" dojoAttachPoint="invoiceTabContainer" dojoType="dijit.layout.TabContainer" style="width:100%;height:100%;">',
                    '<div id="{%= $.id%}_invoiceContent" dojoAttachPoint="invoiceContent" dojoType="dijit.layout.ContentPane" title="{%= $.detailsTabTitle %}" selected="true">',
                        '<div id="{%= $.id%}_divInvoiceDetails">',
                            '<table cellspacing="5">',
                                '<col style="width:200px" />',
                                '<col style="width:200px" />',
                                '<tr>',
                                    '<td>',
                                        '<label for="Invoice_date">{%= $.lblInvoiceDateCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_invoiceDate" name="date" readonly="readonly" dojoType="Sage.UI.DateTextBox" />',
                                    '</td>',
                                    '<td>',
                                        '<label for="invoiceDiscountPercent">{%= $.lblInvoiceDiscountPercentCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_discountPercent" name="invoiceDiscountPercent" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                '</tr>',
                                '<tr>',
                                    '<td>',
                                        '<label for="Invoice_deliveryDate">{%= $.lblDueDateCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_deliveryDate" name="deliveryDate" readonly="readonly" dojoType="Sage.UI.DateTextBox" />',
                                    '</td>',
                                    '<td>',
                                        '<label for="Invoice_carrierTotalPrice">{%= $.lblCarrierTotalPriceCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_carrierTotalPrice" name="carrierTotalPrice" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                '</tr>',
                                '<tr>',
                                    '<td>',
                                        '<label for="Invoice_customerReference">{%= $.lblCustomerPOCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_customerReference" name="customerReference" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                    '<td>',
                                        '<label for="Invoice_taxTotal">{%= $.lblTaxCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_taxTotal" name="taxTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                '</tr>',
                                '<tr>',
                                    '<td>',
                                        '<label for="settlementDiscountPercent">{%= $.lblSettlementDiscountPercentCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_settlementDiscountPercent" name="settlementDiscountPercent" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                    '<td>',
                                        '<label for="Invoice_notes">{%= $.lblNotesCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_notes" name="notes" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                '</tr>',
                                '<tr>',
                                    '<td>',
                                        '<label for="settlementDiscountTerms">{%= $.lblSettlementDiscountTermsCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_settlementDiscountTerms" name="settlementDiscountTerms" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                    '<td>',
                                        '<label for="Invoice_costTotal">{%= $.lblCostTotalCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_costTotal" name="costTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                '</tr>',
                                '<tr>',
                                    '<td>',
                                        '<label for="operatingCompanyCurrency">{%= $.lblOCCurrencyCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_operatingCompanyCurrency" name="operatingCompanyCurrency" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                    '<td>',
                                        '<label for="Invoice_profitTotal">{%= $.lblProfitTotalCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_profitTotal" name="profitTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                '</tr>',
                                '<tr>',
                                    '<td>',
                                        '<label for="operatingCompanyCurrencyExchangeRateDate">{%= $.lblOperatingCompanyCurrencyExchangeRateDateCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_operatingCompanyCurrencyExchangeRateDate" name="operatingCompanyCurrencyExchangeRateDate" readonly="readonly" dojoType="Sage.UI.DateTextBox" />',
                                    '</td>',
                                    '<td>',
                                        '<label for="Invoice_priceList">{%= $.lblPriceListCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_priceList" name="pricelist.name" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                '</tr>',
                                '<tr>',
                                    '<td>',
                                        '<label for="Invoice_currency">{%= $.lblCurrencyCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_currency" name="currency" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                    '<td>',
                                        '<label for="Invoice_salesPerson">{%= $.lblSalesPersonCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_salesPerson" name="buyerContact.fullName" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                '</tr>',
                                '<tr>',
                                    '<td>',
                                        '<label for="Invoice_invoiceDiscountAmount">{%= $.lblInvoiceDiscountAmountCaption %}</label>',
                                    '</td>',
                                    '<td>',
                                        '<input type="text" id="{%= $.id%}_invoiceDiscountAmount" name="invoiceDiscountAmount" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                    '</td>',
                                '</tr>',
                            '</table>',
                        '</div>',
                    '</div>',
                    '<div id="{%= $.id%}_addressesContent" dojoType="dijit.layout.ContentPane" title="{%= $.addressTabTitle %}" style="width:100%;height:100%;">',
                        '<div id="sdgrdInvoiceAddresses" style="width:100%;height:100%;">',
                            '<div id="{%= $.id%}_sdgrdInvoiceAddresses_Grid" dojoAttachPoint="sdgrdInvoiceAddresses_Grid" style="width:100%;height:100%;"></div>',
                        '</div>',
                    '</div>',
                    '<div id="{%= $.id%}_invoiceLinesContent" dojoType="dijit.layout.ContentPane" title="{%= $.invoiceLinesTabTitle %}" style="width:100%;height:100%;">',
                        '<div id="sdgrdInvoiceLines" style="width:100%;height:100%;">',
                            '<div id="{%= $.id%}_sdgrdInvoiceLines_Grid" dojoAttachPoint="sdgrdInvoiceLines_Grid" style="width:100%;height:100%;"></div>',
                        '</div>',
                    '</div>',
                    '<div id="{%= $.id%}_paymentsContent" dojoType="dijit.layout.ContentPane" title="{%= $.paymentsTabTitle %}" style="width:100%;height:100%;" dojoAttachPoint="cp_Payments" dojoAttachEvent="onShow:initPayments">',
                        '<div id="sdgrdPayments" style="width:100%;height:100%;">',
                            '<div id="{%= $.id%}_sdgrdPayments_Grid" dojoAttachPoint="sdgrdPayments_Grid" style="width:100%;height:100%;"></div>',
                        '</div>',
                    '</div>',
                    '<div id="{%= $.id%}_deliveriesContent" dojoType="dijit.layout.ContentPane" title="{%= $.deliveriesTabTitle %}" style="width:100%;height:100%;" dojoAttachPoint="cp_Deliveries" dojoAttachEvent="onShow:initDeliveries">',
                        '<div id="sdgrdDeliveries" style="width:100%;height:100%;">',
                            '<div id="{%= $.id%}_sdgrdDeliveries_Grid" dojoAttachPoint="sdgrdDeliveries_Grid" style="width:100%;height:100%;"></div>',
                        '</div>',
                    '</div>',
                '</div>',
            '</div>',
            '<div class="button-bar alignright">',
                 '<button dojoType="dijit.form.Button" id="{%= $.id%}_invoiceBtnClose" type="button" dojoAttachEvent="onClick:hideDetailsDialog">{%= $.btnCloseCaption %}</button>',
            '</div>',
        '</div>',
    '</div>',
'</div>'
]