[
'<div>',
    '<div dojoType="dijit.Dialog" id="{%= $.id%}_salesOrderDetailsDialog" title="{%= $.dialogCaption %}" dojoAttachPoint="_dialog" dojoAttachEvent="onHide:hideDetailsDialog">',
        '<div dojoAttachPoint="loadingContainer">',
            '<br />',
            '<label class="wizardsectiontitle boldText padBottom" style="padding-left:20px">{%= $.loadingText %}</label>',
            '<br />',
            '<br />',
        '</div>',
        '<table cellspacing="5" dojoAttachPoint="salesOrderDetails" border="0" width="100%" class="display-none">',
            '<div>',
                '<tr>',
			        '<td>',
			             '<label for="SalesOrder_reference">{%= $.lblSalesOrderCaption %}</label>',
			        '</td>',
                    '<td>',
                        '<input type="text" id="{%= $.id%}_reference" name="reference" readonly="readonly" dojoType="dijit.form.TextBox" />',
                    '</td>',
                    '<td>',
                        '<label for="SalesOrder_status">{%= $.lblStatusCaption %}</label>',
                    '</td>',
                    '<td>',
                        '<input type="text" id="{%= $.id%}_status" name="status" readonly="readonly" dojoType="dijit.form.TextBox" />',
                    '</td>',
                    '<td>',
                        '<label for="SalesOrder_grossTotal">{%= $.lblGrossTotalCaption %}</label>',
                    '</td>',
                    '<td>',
                        '<input type="text" id="{%= $.id%}_grossTotal" name="grossTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                    '</td>',
                '</tr>',
            '</div>',
        '</table>',
        '<div style="height:370px;width:800px" dojoAttachPoint="tabContentDetails" class="display-none">',
            '<div id="{%= $.id%}_salesOrderContainer" dojoAttachPoint="salesOrderContainer" dojoType="dijit.layout.TabContainer" style="width:100%;height:100%;">',
                '<div id="{%= $.id%}_salesOrderContent" dojoAttachPoint="salesOrderContent" dojoType="dijit.layout.ContentPane" title="{%= $.detailsTabTitle %}" selected="true" style="width:100%;height:100%;">',
                    '<div id="{%= $.id%}_divDetails">',
                        '<table cellspacing="5">',
                            '<col style="width:200px" />',
                            '<col style="width:200px" />',
                            '<tr>',
                                '<td>',
                                    '<label for="SalesOrder_OrderDate">{%= $.lblOrderDateCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_OrderDate" name="date" readonly="readonly" dojoType="Sage.UI.DateTextBox" />',
                                '</td>',
                                '<td>',
                                    '<label for="SalesOrder_TaxTotal">{%= $.lblTaxTotalCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_TaxTotal" name="taxTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                            '</tr>',
                            '<tr>',
                                '<td>',
                                    '<label for="SalesOrder_HoldStatus">{%= $.lblHoldStatusCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_HoldStatus" name="statusFlagText" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                                '<td>',
                                    '<label for="SalesOrder_Currency">{%= $.lblCurrencyCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_Currency" name="currency" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                            '</tr>',
                            '<tr>',
                                '<td>',
                                    '<label for="SalesOrder_Type">{%= $.lblTypeCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_Type" name="type" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                                '<td>',
                                    '<label for="SalesOrder_CostTotal">{%= $.lblCostTotalCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_CostTotal" name="costTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                            '</tr>',
                            '<tr>',
                                '<td>',
                                    '<label for="SalesOrder_PONumber">{%= $.lblPONumberCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_PONumber" name="customerReference" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                                '<td>',
                                    '<label for="SalesOrder_ProfitTotal">{%= $.lblProfitTotalCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_ProfitTotal" name="profitTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                            '</tr>',
                            '<tr>',
                                '<td>',
                                    '<label for="SalesOrder_Quotation">{%= $.lblQuotationCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_Quotation" name="quotation.reference" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                                '<td>',
                                    '<label for="SalesOrder_InvoiceStatus">{%= $.lblInvoiceStatusCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_InvoiceStatus" name="invoiceStatus" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                            '</tr>',
                            '<tr>',
                                '<td>',
                                    '<label for="SalesOrder_Contact">{%= $.lblContactCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_Contact" name="buyerContact.fullName" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                                '<td>',
                                    '<label for="SalesOrder_DeliveryDate">{%= $.lblDeliveryDateCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_DeliveryDate" name="deliveryDate" readonly="readonly" dojoType="Sage.UI.DateTextBox" />',
                                '</td>',
                            '</tr>',
                            '<tr>',
                                '<td>',
                                    '<label for="SalesOrder_PriceList">{%= $.lblPriceListCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_PriceList" name="pricelist.name" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                                '<td>',
                                    '<label for="SalesOrder_DueDate">{%= $.lblDueDateCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_DueDate" name="dueDate" readonly="readonly" dojoType="Sage.UI.DateTextBox" />',
                                '</td>',
                            '</tr>',
                            '<tr>',
                                '<td>',
                                    '<label for="SalesOrder_NetTotal">{%= $.lblNetTotalCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_NetTotal" name="netTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                                '<td>',
                                    '<label for="SalesOrder_Carrier">{%= $.lblCarrierCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_Carrier" name="carrierCompany" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                            '</tr>',
                            '<tr>',
                                '<td>',
                                    '<label for="SalesOrder_DiscountTotal">{%= $.lblDiscountTotalCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_DiscountTotal" name="discountTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                                '<td>',
                                    '<label for="SalesOrder_AllocationStatus">{%= $.lblAllocationStatusCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_AllocationStatus" name="allocationStatus" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                            '</tr>',
                            '<tr>',
                                '<td>',
                                    '<label for="SalesOrder_DeliveryStatus">{%= $.lblDeliveryStatusCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_DeliveryStatus" name="deliveryStatus" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                                '<td>',
                                    '<label for="SalesOrder_ChargesTotal">{%= $.lblChargesTotalCaption %}</label>',
                                '</td>',
                                '<td>',
                                    '<input type="text" id="{%= $.id%}_ChargesTotal" name="chargesTotal" readonly="readonly" dojoType="dijit.form.TextBox" />',
                                '</td>',
                            '</tr>',
                        '</table>',
                    '</div>',
                '</div>',
                '<div id="{%= $.id%}_soAddressesContent" dojoType="dijit.layout.ContentPane" title="{%= $.addressTabTitle %}" style="width:100%;height:100%;">',
                    '<div id="sdgrdSalesOrderAddresses" dojoAttachPoint="sdgrdSalesOrderAddresses" style="width:100%;height:100%;">',
                        '<div id="{%= $.id%}_sdgrdSalesOrderAddresses_Grid" dojoAttachPoint="sdgrdSalesOrderAddresses_Grid" style="width:100%;height:100%;"></div>',
                    '</div>',
                '</div>',
                '<div id="{%= $.id%}_soSalesPersonsContent" dojoType="dijit.layout.ContentPane" title="{%= $.salesPersonsTabTitle %}" style="width:100%;height:100%;" dojoAttachPoint="cp_SalesPersons" dojoAttachEvent="onShow:initSalesPersons">',
                    '<div id="sdgrdSalesPersons" style="width:100%;height:100%;">',
                        '<div id="{%= $.id%}_sdgrdSalesPersons_Grid" dojoAttachPoint="sdgrdSalesPersons_Grid" style="width:100%;height:100%;"></div>',
                    '</div>',
                '</div>',
                '<div id="{%= $.id%}_soLinesContent" dojoType="dijit.layout.ContentPane" title="{%= $.salesOrderLinesTabTitle %}" style="width:100%;height:100%;">',
                    '<div id="sdgrdSalesOrderLines" style="width:100%;height:100%;">',
                        '<div id="{%= $.id%}_sdgrdSalesOrderLines_Grid" dojoAttachPoint="sdgrdSalesOrderLines_Grid" style="width:100%;height:100%;"></div>',
                    '</div>',
                '</div>',
                '<div id="{%= $.id%}_soPaymentsContent" dojoType="dijit.layout.ContentPane" title="{%= $.paymentsTabTitle %}" style="width:100%;height:100%;" dojoAttachPoint="cp_Payments" dojoAttachEvent="onShow:initPayments">',
                    '<div id="sdgrdSOPayments" style="width:100%;height:100%;">',
                        '<div id="{%= $.id%}_sdgrdSOPayments_Grid" dojoAttachPoint="sdgrdSOPayments_Grid" style="width:100%;height:100%;"></div>',
                    '</div>',
                '</div>',
                '<div id="{%= $.id%}_soDeliveriesContent" dojoType="dijit.layout.ContentPane" title="{%= $.deliveriesTabTitle %}" style="width:100%;height:100%;" dojoAttachPoint="cp_Deliveries" dojoAttachEvent="onShow:initDeliveries">',
                    '<div id="sdgrdSODeliveries" style="width:100%;height:100%;">',
                        '<div id="{%= $.id%}_sdgrdSODeliveries_Grid" dojoAttachPoint="sdgrdSODeliveries_Grid" style="width:100%;height:100%;"></div>',
                    '</div>',
                '</div>',
            '</div>',
        '</div>',
        '<div class="button-bar alignright">',
            '<button dojoType="dijit.form.Button" id="{%= $.id%}_soBtnClose" type="button" dojoAttachEvent="onClick:hideDetailsDialog">{%= $.btnCloseCaption %}</button>',
        '</div>',
    '</div>',
'</div>'
]