<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Sage.Common.Syndication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="Sage.Integration.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
			<section name="Sage.SalesLogix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<section name="Sage.Integration.Web.Adapters" type="Sage.Integration.Web.Configuration.IntegrationAdaptersSection, Sage.Integration.Web"/>
		<section name="OrmConfiguration" type="Sage.Platform.Extensibility.OrmConfiguration, Sage.Platform"/>
		<sectionGroup name="sage.platform">
			<section name="Sage.Platform.Caches.Memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Nhibernate" publicKeyToken="aa95f207798dfdb4"/>
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.4000" newVersion="3.2.0.4000"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<client>
			<endpoint name="MessageBusService" address="net.tcp://localhost:9001/Server/MessageBus" binding="netTcpBinding" bindingConfiguration="SubscriberBindingConfiguration" contract="Sage.Platform.Messaging.Transport.Wcf.IMessageBus"/>
		</client>
		<bindings>
			<netTcpBinding>
				<binding name="SubscriberBindingConfiguration" portSharingEnabled="true"/>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<system.web>
		<!-- WFG: dynamic quick forms enabled; switch following two lines to disable -->
		<!--<globalization culture="auto" uiCulture="auto"/>-->
		<globalization culture="auto" uiCulture="auto" resourceProviderFactoryType="Sage.Platform.QuickForms.WebFormGen.Web.UpdatableResXResourceProviderFactory, Sage.Platform.QuickForms.WebFormGen"/>
		<compilation debug="false" defaultLanguage="C#" numRecompilesBeforeAppRestart="250" targetFramework="4.0">
			<assemblies>
				<!--<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
			</assemblies>
		</compilation>
    <!--To implement Windows Authentication, comment out the Window Authentication - off section and uncomment the Window Authentication - on section-->
    <!--Windows Authentication - off-->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" timeout="30" name=".SLXAUTH" path="/" defaultUrl="default.aspx" requireSSL="false" slidingExpiration="true" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
      <!--Windows Authentication - on-->
      <!--
		<authentication mode="Windows" />
      -->
		<authorization>
			<deny users="?"/>
		</authorization>
		<membership defaultProvider="SLXMembershipProvider">
			<providers>
				<clear/>
				<add name="SLXMembershipProvider" type="Sage.SalesLogix.Web.SLXMembershipProvider" applicationName="SalesLogix"/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="SLXRoleProvider" cacheRolesInCookie="true" cookieName=".SLXROLES" cookiePath="/" cookieRequireSSL="false">
			<providers>
				<clear/>
				<add name="SLXRoleProvider" type="Sage.SalesLogix.Web.SLXRoleProvider" applicationName="SalesLogix"/>
			</providers>
		</roleManager>
		<pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<httpHandlers>
			<add verb="*" path="slxdata.ashx" type="Sage.Integration.Web.SageIntegrationHandler, Sage.Integration.Web"/>
			<add verb="*" path="SLXDependencyHandler.aspx" type="Sage.SalesLogix.Web.Controls.DependencyLookup.DependencyHttpHandler"/>
			<add verb="*" path="SLXGroupBuilder.aspx" type="Sage.SalesLogix.Client.GroupBuilder.GroupBuilderHttpHandler"/>
			<add verb="*" path="SLXSearchDocHandler.aspx" type="Sage.SalesLogix.Services.SpeedSearch.HttpSearchDocHandler"/>
			<add verb="*" path="SLXWinAuthenication.aspx" type="Sage.SalesLogix.Web.WinAuthHttpHandler"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<add verb="*" path="ImageResource.axd" type="Sage.Platform.Application.UI.Web.ImageResourceHandler, Sage.Platform.Application.UI.Web"/>
			<add verb="*" path="Shutdown.axd" type="Sage.SalesLogix.Web.SLXGlobalApplicationShutdownHandler, Sage.SalesLogix.Web"/>
			<add verb="*" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler, Telerik.Web.UI" validate="false" />
			<add verb="*" path="proxyrequest.ashx" type="Sage.Platform.WebPortal.HttpRequestProxy, Sage.Platform.WebPortal"/>
			<add verb="*" path="MashupHandler.ashx" type="Sage.Platform.Mashups.Web.MashupHandler, Sage.Platform.Mashups.Web"/>
			<add verb="*" path="SLXReportManager.aspx" type="Sage.SalesLogix.Client.Reports.ReportsHttpHandler"/>
			<add verb="*" path="SLXReportsHelper.ashx" type="Sage.SalesLogix.Client.Reports.Helper.ReportsHelperHttpHandler, Sage.SalesLogix.Client.Reports.Helper"/>
			<add verb="*" path="SLXInfoBroker.aspx" type="Sage.SalesLogix.Client.MailMerge.SLXInfoBroker, Sage.SalesLogix.Client.MailMerge"/>
			<add verb="*" path="SLXGroupManager.aspx" type="Sage.SalesLogix.Client.MailMerge.SLXGroupManager, Sage.SalesLogix.Client.MailMerge"/>
			<add verb="*" path="SLXMailMergeClient.ashx" type="Sage.SalesLogix.Client.MailMerge.MailMergeHttpHandler, Sage.SalesLogix.Client.MailMerge"/>
			<add verb="*" path="SLXMailMergeServer.ashx" type="Sage.SalesLogix.MailMerge.Server.MailMergeServerHttpHandler, Sage.SalesLogix.MailMerge.Server"/>
			<add verb="*" path="SlxLitRequest.aspx" type="Sage.SalesLogix.Client.MailMerge.SlxLitRequest, Sage.SalesLogix.Client.MailMerge"/>
		</httpHandlers>
		<httpModules>
			<clear/>
      <!--To implement Windows Authentication, comment out the Window Authentication - off section and uncomment the Window Authentication - on section-->
      <!--Windows Authentication - off-->
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
      <add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule"/>
      <add name="PreFormsAuth" type="Sage.SalesLogix.Web.PreAuthModule, Sage.SalesLogix.Web"/>
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule"/>
      <add name="DynamicEntityHttpModule" type="Sage.Platform.Orm.DynamicEntityHttpModule, Sage.Platform"/>
      <add name="PostFormsAuth" type="Sage.SalesLogix.Web.MixedModeSecurityModule, Sage.SalesLogix.Web"/>
      <add name="RoleManager" type="System.Web.Security.RoleManagerModule"/>
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule"/>
      <add name="FileAuthorization" type="System.Web.Security.FileAuthorizationModule"/>
      <add name="AnonymousIdentification" type="System.Web.Security.AnonymousIdentificationModule"/>
      <add name="Profile" type="System.Web.Profile.ProfileModule"/>
      <add name="SessionScopeModule" type="Sage.Platform.Framework.SessionScopeWebModule"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" />
      <add name="UserLanguageModule" type="Sage.SalesLogix.Web.UserLanguageModule, Sage.SalesLogix.Web"/>
      <!--Windows Authentication - on-->
      <!--
			<add name="AuthenticationModule" type="Sage.SalesLogix.Web.SLXWebWindowsAuthenticationModule, Sage.SalesLogix.Web" />
			<add name="Session" type="System.Web.SessionState.SessionStateModule"/>
			<add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule"/>
			<add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule"/>
			<add name="DynamicEntityHttpModule" type="Sage.Platform.Orm.DynamicEntityHttpModule, Sage.Platform"/>
			<add name="RoleManager" type="System.Web.Security.RoleManagerModule"/>
			<add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule"/>
			<add name="FileAuthorization" type="System.Web.Security.FileAuthorizationModule"/>
			<add name="AnonymousIdentification" type="System.Web.Security.AnonymousIdentificationModule"/>
			<add name="Profile" type="System.Web.Profile.ProfileModule"/>
			<add name="SessionScopeModule" type="Sage.Platform.Framework.SessionScopeWebModule"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" />
			<add name="TimeZoneModule" type="Sage.SalesLogix.Web.TimeZoneModule, Sage.SalesLogix.Web" />
			<add name="UserLanguageModule" type="Sage.SalesLogix.Web.UserLanguageModule, Sage.SalesLogix.Web"/>
      -->
    </httpModules>
		<httpRuntime requestValidationMode="2.0" />
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>
	<location path="images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="css">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="jscript">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Libraries">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="help">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ScriptResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Logoff.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="ChangePassword.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="500000">
					<!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
					<!--
          <converters>
            <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
          </converters>
          -->
				</jsonSerialization>
				<!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
				<!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
        -->
				<!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
             and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
             writeAccessProperties attributes. -->
				<!--
        <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2"/>
        -->
			</webServices>
			<!--
        <scriptResourceHandler enableCompression="true" enableCaching="true"/>
      -->
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
      <!--To implement Windows Authentication, comment out the Window Authentication - off section and uncomment the Window Authentication - on section-->
      <!--Windows Authentication - off-->
      <add name="PreFormsAuth" type="Sage.SalesLogix.Web.PreAuthModule, Sage.SalesLogix.Web"/>
      <add name="DynamicEntityHttpModule" type="Sage.Platform.Orm.DynamicEntityHttpModule, Sage.Platform"/>
      <add name="PostFormsAuth" type="Sage.SalesLogix.Web.MixedModeSecurityModule, Sage.SalesLogix.Web"/>
      <add name="SessionScopeModule" preCondition="integratedMode" type="Sage.Platform.Framework.SessionScopeWebModule"/>
      <add name="ScriptModule-3.5" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" preCondition="integratedMode"/>
      <add name="UserLanguageModule" preCondition="integratedMode" type="Sage.SalesLogix.Web.UserLanguageModule, Sage.SalesLogix.Web"/>
      <!--Windows Authentication - on-->
      <!--
			<add name="DynamicEntityHttpModule" preCondition="integratedMode" type="Sage.Platform.Orm.DynamicEntityHttpModule, Sage.Platform"/>
			<add name="SessionScopeModule" preCondition="integratedMode" type="Sage.Platform.Framework.SessionScopeWebModule"/>
			<add name="ScriptModule-3.5" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI" preCondition="integratedMode"/>
			<add name="UserLanguageModule" preCondition="integratedMode" type="Sage.SalesLogix.Web.UserLanguageModule, Sage.SalesLogix.Web"/>
			<add name="AuthenticationModule" type="Sage.SalesLogix.Web.SLXWebWindowsAuthenticationModule, Sage.SalesLogix.Web" />
      -->
      <remove name="WebDAVModule"/>
    </modules>
		<handlers>
			<add name="slxdata" preCondition="integratedMode" verb="*" path="slxdata.ashx" type="Sage.Integration.Web.SageIntegrationHandler, Sage.Integration.Web"/>
			<add name="SLXDependencyHandler" preCondition="integratedMode" verb="*" path="SLXDependencyHandler.aspx" type="Sage.SalesLogix.Web.Controls.DependencyLookup.DependencyHttpHandler"/>
			<add name="SLXGroupBuilder" preCondition="integratedMode" verb="*" path="SLXGroupBuilder.aspx" type="Sage.SalesLogix.Client.GroupBuilder.GroupBuilderHttpHandler"/>
			<add name="SLXSearchDocHandler" preCondition="integratedMode" verb="*" path="SLXSearchDocHandler.aspx" type="Sage.SalesLogix.Services.SpeedSearch.HttpSearchDocHandler"/>
			<add name="SLXWinAuthenication" preCondition="integratedMode" verb="*" path="SLXWinAuthenication.aspx" type="Sage.SalesLogix.Web.WinAuthHttpHandler"/>
			<add name="WebServices" preCondition="integratedMode" verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="_AppService" preCondition="integratedMode" verb="*" path="*_AppService.axd" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptResourceIntegrated-3.5" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ImageResource" preCondition="integratedMode" verb="*" path="ImageResource.axd" type="Sage.Platform.Application.UI.Web.ImageResourceHandler, Sage.Platform.Application.UI.Web"/>
			<add name="Shutdown" preCondition="integratedMode" verb="*" path="Shutdown.axd" type="Sage.SalesLogix.Web.SLXGlobalApplicationShutdownHandler, Sage.SalesLogix.Web"/>
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.Upload.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode"/>
			<add name="proxyrequest" preCondition="integratedMode" verb="*" path="proxyrequest.ashx" type="Sage.Platform.WebPortal.HttpRequestProxy, Sage.Platform.WebPortal"/>
			<add name="MashupHandler" preCondition="integratedMode" verb="*" path="MashupHandler.ashx" type="Sage.Platform.Mashups.Web.MashupHandler, Sage.Platform.Mashups.Web"/>
			<add name="SLXReportManager" preCondition="integratedMode" verb="*" path="SLXReportManager.aspx" type="Sage.SalesLogix.Client.Reports.ReportsHttpHandler"/>
			<add name="SLXReportsHelper" preCondition="integratedMode" verb="*" path="SLXReportsHelper.ashx" type="Sage.SalesLogix.Client.Reports.Helper.ReportsHelperHttpHandler, Sage.SalesLogix.Client.Reports.Helper"/>
			<add name="SLXInfoBroker" preCondition="integratedMode" verb="*" path="SLXInfoBroker.aspx" type="Sage.SalesLogix.Client.MailMerge.SLXInfoBroker, Sage.SalesLogix.Client.MailMerge"/>
			<add name="SLXGroupManager" preCondition="integratedMode" verb="*" path="SLXGroupManager.aspx" type="Sage.SalesLogix.Client.MailMerge.SLXGroupManager, Sage.SalesLogix.Client.MailMerge"/>
			<add name="SLXMailMergeClient" preCondition="integratedMode" verb="*" path="SLXMailMergeClient.ashx" type="Sage.SalesLogix.Client.MailMerge.MailMergeHttpHandler, Sage.SalesLogix.Client.MailMerge"/>
			<add name="SLXMailMergeServer" preCondition="integratedMode" verb="*" path="SLXMailMergeServer.ashx" type="Sage.SalesLogix.MailMerge.Server.MailMergeServerHttpHandler, Sage.SalesLogix.MailMerge.Server"/>
			<add name="SlxLitRequest" preCondition="integratedMode" verb="*" path="SlxLitRequest.aspx" type="Sage.SalesLogix.Client.MailMerge.SlxLitRequest, Sage.SalesLogix.Client.MailMerge"/>
      <remove name="WebDAV"/>
		</handlers>
        <staticContent>
          <!-- Use this area to add or edit MIME types-->
            <mimeMap fileExtension=".appcache" mimeType="test/cache-manifest" />
            <remove fileExtension=".docx" />
            <mimeMap fileExtension=".docx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document"/>
            <remove fileExtension=".dotx" />
            <mimeMap fileExtension=".dotx" mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template"/>
            <remove fileExtension=".potx" />
            <mimeMap fileExtension=".potx" mimeType="application/vnd.openxmlformats-officedocument.presentationml.template"/>
            <remove fileExtension=".ppsx" />
            <mimeMap fileExtension=".ppsx" mimeType="application/vnd.openxmlformats-officedocument.presentationml.slideshow"/>
            <remove fileExtension=".pptx" />
            <mimeMap fileExtension=".pptx" mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation"/>
            <remove fileExtension=".xlsx" />
            <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
            <remove fileExtension=".xltx" />
            <mimeMap fileExtension=".xltx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template"/>
            <remove fileExtension=".docm" />
            <mimeMap fileExtension=".docm" mimeType="application/vnd.ms-word.document.macroEnabled.12"/>
            <remove fileExtension=".dotm" />
            <mimeMap fileExtension=".dotm" mimeType="application/vnd.ms-word.template.macroEnabled.12"/>
            <remove fileExtension=".potm" />
            <mimeMap fileExtension=".potm" mimeType="application/vnd.ms-powerpoint.template.macroEnabled.12"/>
            <remove fileExtension=".ppam" />
            <mimeMap fileExtension=".ppam" mimeType="application/vnd.ms-powerpoint.addin.macroEnabled.12"/>
            <remove fileExtension=".ppsm" />
            <mimeMap fileExtension=".ppsm" mimeType="application/vnd.ms-powerpoint.slideshow.macroEnabled.12"/>
            <remove fileExtension=".pptm" />
            <mimeMap fileExtension=".pptm" mimeType="application/vnd.ms-powerpoint.presentation.macroEnabled.12"/>
            <remove fileExtension=".xlam" />
            <mimeMap fileExtension=".xlam" mimeType="application/vnd.ms-excel.addin.macroEnabled.12"/>
            <remove fileExtension=".xlsb" />
            <mimeMap fileExtension=".xlsb" mimeType="application/vnd.ms-excel.sheet.binary.macroEnabled.12"/>
            <remove fileExtension=".xlsm" />
            <mimeMap fileExtension=".xlsm" mimeType="application/vnd.ms-excel.sheet.macroEnabled.12"/>
            <remove fileExtension=".xltm" />
            <mimeMap fileExtension=".xltm" mimeType="application/vnd.ms-excel.template.macroEnabled.12"/>
        </staticContent>
	</system.webServer>
	<applicationSettings>
		<Sage.Integration.Server.Properties.Settings>
			<setting name="ServerRegistrationPort" serializeAs="String">
				<value>5494</value>
			</setting>
			<setting name="EnableBroadcast" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="EnableSeparateAppDomains" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="IsPrimaryInstance" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="SaveLoadAdapterConfiguration" serializeAs="String">
				<value>False</value>
			</setting>
		</Sage.Integration.Server.Properties.Settings>
		<Sage.Common.Syndication.Properties.Settings>
			<setting name="EnableSSL" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Server" serializeAs="String">
				<value>slxdata.ashx</value>
			</setting>
			<setting name="SettingsProviderType" serializeAs="String">
				<value>Sage.Integration.Web.WebSyndicationSettings, Sage.Integration.Web</value>
			</setting>
			<setting name="DoNotUseRegistry" serializeAs="String">
				<value>True</value>
			</setting>
		</Sage.Common.Syndication.Properties.Settings>
		<Sage.SalesLogix.Properties.Settings>
			<setting name="AutoTranslateDatebaseDates" serializeAs="String">
				<value>True</value>
			</setting>
		</Sage.SalesLogix.Properties.Settings>
	</applicationSettings>
	<OrmConfiguration>
		<extensions>
			<extension guid="{BD282510-B0DD-4b66-8654-8723A4B9F651}" name="Server Objects Package" typeName="Sage.Platform.Orm.CodeGen.SalesLogixCodeGeneration, Sage.Platform.Orm.CodeGen"/>
			<extension guid="{3BD6A6DE-09A6-42f8-A247-F5537ED607E4}" name="High-Level Types Package" typeName="Sage.SalesLogix.HighLevelTypes.SlxHighLevelTypes, Sage.SalesLogix.HighLevelTypes"/>
		</extensions>
	</OrmConfiguration>
	<Sage.Integration.Web.Adapters>
		<add type="Sage.SalesLogix.Web.RootAdapter, Sage.SalesLogix.Web"/>
		<add type="Sage.SalesLogix.Web.UI.Activity.RootAdapter, Sage.SalesLogix.Web.UI.Activity"/>
		<add type="Sage.SalesLogix.Client.GroupBuilder.GroupsAdapter, Sage.SalesLogix.Client.GroupBuilder"/>
		<add type="Sage.SalesLogix.Services.Integration.MatchingResourceAdapter, Sage.SalesLogix.Services.Integration"/>
		<add type="Sage.Integration.Entity.Adapter.DynamicAdapter, Sage.Integration.Entity.Feeds"/>
		<add type="Sage.SalesLogix.SystemAdapter.SystemAdapter, Sage.SalesLogix.SystemAdapter"/>
		<add type="Sage.SalesLogix.ProxyAdapter.ProxyAdapter, Sage.SalesLogix.ProxyAdapter"/>
		<add type="Sage.SalesLogix.Client.App_Code.RootAdapter"/>
		<add type="Sage.Platform.SDataServices.MetadataAdapter, Sage.Platform.SDataServices"/>
		<add type="Sage.Platform.Mashups.Web.SData.MashupAdapter, Sage.Platform.Mashups.Web"/>
		<add type="Sage.Platform.Scheduling.SData.Adapter, Sage.Platform.Scheduling.SData"/>
	</Sage.Integration.Web.Adapters>
	<appSettings configSource="appSettings.config"/>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v4.0"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v4.0"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<sage.platform>
		<Sage.Platform.Caches.Memcached protocol="Binary">
			<servers>
				<add address="127.0.0.1" port="11211"/>
			</servers>
			<socketPool connectionTimeout="00:00:02" deadTimeout="00:00:10"/>
			<performanceMonitor factory="Enyim.Caching.Memcached.DefaultPerformanceMonitorFactory, Enyim.Caching" name="SlxClient" />
		</Sage.Platform.Caches.Memcached>
	</sage.platform>
</configuration>