['<div>',
    '<div class="wysEditor" dojoAttachPoint="_designerSurface" ></div>',
            
    '<div data-dojo-type="dijit.layout.TabContainer" style="width:100%;height:300px" id="formDetailsTabContainer" dojoAttachPoint="_tabContainer">',
      '<div data-dojo-type="dijit.layout.ContentPane" title="{%= $.propertiesTabText %}" id="cpProperties">',
        '<div dojoAttachPoint="_propertiesFormContainer" style="width:100%;"></div>',
      '</div>',
      '<div data-dojo-type="dijit.layout.ContentPane" title="{%= $.toolsTabText %}" id="cpFormTools" dojoAttachEvent="onShow:_showToolsTab">',
        '<div>',
            '<table style="padding:10px 0px">',
                '<tr>',
                    '<td class="SummaryCaption" nowrap>{%= $.buttonAlignmentText %}</td>',
                    '<td class="DataItem">',
						'<select name="selectToolAlignment" dojoAttachPoint="_toolAlignmentOptions" data-dojo-type="dijit.form.ComboBox" style="width:200px">',
							'<option value="2">{%= $.leftText %}</option>',
							'<option value="1">{%= $.centerText %}</option>',
							'<option value="0">{%= $.rightText %}</option>',
						'</select>',
                    '</td>',
                '</tr>',
            '</table>',
            '<div dojoAttachPoint="_toolsNode" style="width:100%;height:200px"></div>',
        '</div>',
      '</div>',
      '<div data-dojo-type="dijit.layout.ContentPane" title="{%= $.usageTabText %}" id="cpUsage" dojoAttachEvent="onShow:_showUsageTab">',
        '<div>',
            '<div dojoAttachPoint="_usageNode" style="width:100%;height:250px"></div>',
        '</div>',
      '</div>',
    '</div>',
    '<div dojoAttachPoint="_aafWizardContainer"></div>',
'</div>']