<div class="dijitReset dijitInline dijitMenuItem" data-dojo-attach-point="focusNode" waiRole="menuitem" tabIndex="-1"
    data-dojo-attach-event="onmouseenter:_onHover,onmouseleave:_onUnhover,ondijitclick:_onClick">
    <span>
    <img src="${_blankGif}" class="dijitIcon dijitMenuItemIcon" data-dojo-attach-point="iconNode"/>
    <div class="dijitIcon dijitMenuItemIcon Global_Images icon16x16 ${imageClass}" data-dojo-attach-point="iconNodeSprite"></div>
    <span class="dijitMenuItemLabel" data-dojo-attach-point="containerNode"></span>
    </span>
</div>
