<div waiRole="presentation" data-dojo-attach-point="titleNode" dojoAttachEvent='onclick:onClick'>
    <div waiRole="presentation" class='dijitTabInnerDiv' data-dojo-attach-point='innerDiv'>
        <div waiRole="presentation" class='dijitTabContent' data-dojo-attach-point='tabContent'>
        	<div waiRole="presentation" data-dojo-attach-point='focusNode'>
		        <img src="${_blankGif}" alt="" class="dijitIcon" data-dojo-attach-point='iconNode' />
		        <span data-dojo-attach-point='containerNode' class='tabLabel'></span>
		        <span class="dijitInline" data-dojo-attach-point='closeNode' waiRole="presentation">
			</div>
        </div>
    </div>
</div>