<div>
    <div class="filter-dialog" data-dojo-type="dijit.Dialog" data-dojo-props="title:'${dialogTitle}'" data-dojo-attach-point="dialogNode">
        <div class="filter-clear-all">
            <input data-dojo-attach-point="checkAll" data-dojo-type="dijit.form.CheckBox" />
            <label>${selectAllText}</label>
        </div>
        <div class="filter-dialog-content" data-dojo-attach-point="contentNode">
            
        </div>
        
        <div class="button-bar alignright">
            <button data-dojo-attach-point="buttonOK" data-dojo-attach-event="onClick:_onOKClick" data-dojo-type="dijit.form.Button">${okText}</button>
            <button data-dojo-attach-point="buttonCancel" data-dojo-attach-event="onClick:_onCancelClick" data-dojo-type="dijit.form.Button">${cancelText}</button>
        </div>
    </div>
</div>